In [4]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv('/content/OnlineRetail.csv',encoding='iso=8859-1')

In [6]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France


## ðŸŽ¯ Project Tasks

### **PART A: Initial Data Exploration**

**Task 1:** Load the dataset and display basic information about its structure.

In [7]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

**Task 2:** Show the first 15 and last 15 records.

In [8]:
df.head(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom

In [9]:
df.tail(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/9/2011 12:50,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/2011 12:50,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,12/9/2011 12:50,3.75,12680.0,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:50,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

**Task 3:** Display a random sample of 20 transactions.

In [10]:
df.sample(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
537091,581238,21864,UNION JACK FLAG PASSPORT COVER,2,12/8/2011 10:53,4.13,NaN,United Kingdom
23116,538177,90214L,"LETTER ""L"" BLING KEY RING",1,12/10/2010 9:51,0.85,NaN,United Kingdom
326875,565610,23352,ROLL WRAP 50'S RED CHRISTMAS,12,9/5/2011 14:56,1.25,14849.0,United Kingdom
475763,576911,22662,LUNCH BAG DOLLY GIRL DESIGN,1,11/17/2011 10:01,1.65,17461.0,United Kingdom
269943,560534,22991,GIRAFFE WOODEN RULER,12,7/19/2011 12:10,1.95,14911.0,EIRE
524523,580598,22178,VICTORIAN GLASS HANGING T-LIGHT,6,12/5/2011 11:05,1.95,17526.0,United Kingdom
446656,574914,23328,SET 6 SCHOOL MILK BOTTLES IN CRATE,1,11/7/2011 16:16,3.75,17109.0,United Kingdom
461919,575955,22596,CHRISTMAS STAR WISH LIST CHALKBOARD,4,11/13/2011 12:05,1.25,14044.0,United Kingdom
175500,551962,23051,RECYCLED ACAPULCO MAT BLUE,3,5/5/2011 12:40,8.25,17955.0,United Kingdom
241418,558200,22431,WATERING CAN BLUE ELEPHANT,3,6/27/2011 13:00,1.95,15976.0,United Kingdom
274423,560915,22961,JAM MAKING SET PRINTED,12,7/21/2011 18:19,1.45,13313.0,United Kingdom
291827,562520,22090,PAPER BUNTING RETROSPOT,6,8/5/2011 12:38,2.95,12599.0,France
499966,578702,20723,STRAWBERRY CHARLOTTE BAG,10,11/25/2011 10:58,0.85,15382.0,United Kingdom
45711,540277,48194,DOORMAT HEARTS,10,1/6/2011 12:18,6.75,14258.0,United Kingdom
274196,560891,21878,PACK OF 6 SANDCASTLE FLAGS ASSORTED,12,7/21/2011 17:02,0.85,15106.0,United Kingdom
245847,558635,23166,MEDIUM CERAMIC TOP STORAGE JAR,3,6/30/2011 19:52,1.25,16498.0,United Kingdom
21120,538071,22777,GLASS CLOCHE LARGE,1,12/9/2010 14:09,16.98,NaN,United Kingdom
230404,557145,22698,PINK REGENCY TEACUP AND SAUCER,6,6/17/2011 10:43,2.95,17139.0,United Kingdom
477547,577058,22174,PHOTO CUBE,4,11/17/2011 14:29,1.65,18122.0,United Kingdom
462858,576019,22337,ANGEL DECORATION PAINTED ZINC,24,11/13/2011 14:31,0.65,12865.0,Austria

**Task 4:** Find out how many rows and columns are in the dataset.

In [11]:
df.shape

(541909, 8)

**Task 5:** List all column names.

In [12]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

**Task 6:** Check the data type of each column.

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

**Task 7:** Get a statistical summary of all numerical columns.

In [14]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

### **PART B: Data Quality Assessment**

**Task 8:** Identify which columns have missing values and how many.

In [15]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

**Task 9:** Find out how many transactions have missing CustomerID.

In [16]:
df['CustomerID'].isna().sum()

np.int64(135080)

**Task 10:** Check if there are any duplicate rows in the dataset.

In [17]:
df.duplicated().sum()

np.int64(5268)

**Task 11:** Identify transactions where Quantity is less than or equal to zero.

In [18]:
df[df['Quantity']<=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,12/9/2011 9:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,12/9/2011 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12/9/2011 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,12/9/2011 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,12/9/2011 11:58,1.25,17315.0,United Kingdom

**Task 12:** Find transactions where UnitPrice is zero or negative.

In [19]:
df[df['UnitPrice']<=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/2010 11:52,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,12/1/2010 14:32,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
536981,581234,72817,NaN,27,12/8/2011 10:33,0.0,NaN,United Kingdom
538504,581406,46000M,POLYESTER FILLER PAD 45x45cm,240,12/8/2011 13:58,0.0,NaN,United Kingdom
538505,581406,46000S,POLYESTER FILLER PAD 40x40cm,300,12/8/2011 13:58,0.0,NaN,United Kingdom
538554,581408,85175,NaN,20,12/8/2011 14:06,0.0,NaN,United Kingdom
538919,581422,23169,smashed,-235,12/8/2011 15:24,0.0,NaN,United Kingdom

**Task 13:** Identify how many invoice numbers start with the letter 'C'.

In [20]:
df['InvoiceNo'].unique()

array(['536365', '536366', '536367', ..., '581585', '581586', '581587'],
      dtype=object)

In [21]:
df[df['InvoiceNo'].str.startswith('C', na=False)]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,12/9/2011 9:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,12/9/2011 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12/9/2011 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,12/9/2011 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,12/9/2011 11:58,1.25,17315.0,United Kingdom

**Task 14:** Check if the Description column has any leading or trailing spaces.


*   List item
*   List item

### **PART C: Data Cleaning**

**Task 15:** Remove all rows where CustomerID is missing.

In [22]:
df=df.dropna(subset=['CustomerID'])

In [23]:
df.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

**Task 16:** For missing product descriptions, fill them with "Unknown Product".

**Task 17:** Remove all duplicate transactions.

In [24]:
df.duplicated().sum()

np.int64(5225)

In [25]:
df=df.drop_duplicates()

In [26]:
df.duplicated().sum()

np.int64(0)

**Task 18:** Remove transactions where Quantity is less than or equal to zero.

In [27]:
df=df.drop(df[df['Quantity']<=0].index)

In [28]:
df['Quantity'].unique()

array([    6,     8,     2,    32,     3,     4,    24,    12,    48,
          18,    20,    36,    80,    64,    10,   120,    96,    23,
           5,     1,    50,    40,   100,   192,   432,   144,   288,
          16,     9,   128,    25,    30,    28,     7,    72,   200,
         600,   480,    14,    11,    70,   252,    60,   216,   384,
          27,   108,    52,    75,   270,    42,   240,    90,   320,
          17,  1824,   204,    69,   160,  2880,  1400,    19,    39,
          56,    13,  1440,    15,   720,   156,   324,    41,   402,
         378,   150,   300,    22,    34,   408,   972,   208,  1008,
          26,  1000,  1488,   250,  1394,   400,   110,    37,    78,
          21,   272,    84,    47,  1728,    38,    53,    76,   576,
          29,  2400,   500,   180,   960,  1296,   147,   168,   256,
          54,    31,   860,  1010,  1356,  1284,   186,   114,   360,
        1930,  2000,  3114,  1300,   670,   176,   648,    62, 74215,
          89,    33,    46,   112,   456,   900,    45,   130,  2592,
         420,   800,    35,  1200,   864,   504,  1056,  1500,   280,
         407,   141,  3906,  1152,   198,   117,   125,    81,   768,
          88,    43,   700,  2160,    55,   342,   304,   640,   220,
         350,   312,   392,   330,   151,    44,   462,    66,   492,
         273,    65,    85,  1350,   428,   336,   101,   132,   227,
        2700,   222,   228,   246,   906,   756,   888,   552,   224,
         738,   608,  4300,   276,    58,    98,    51,    74,  1600,
         323,  1515,   660,   104,   264,   188,   588,   612,   152,
          49,   430,   701,   828,   540,   696,   560,   121,   512,
         291,  3186,    83,    87,    79,   109,   129,   261,   352,
         102,   348,  1900,   157,   116,   968,   684,   824,   196,
         124,   248,   410,   236,   230,   210,   448,   140,    86,
         840,   450,    93,   494,    92,  1788,   624,   744,   416,
         496,   396,   306,  1878,  1944,   666,   708,  1428,   852,
        1412,   528,   183,  1540,   672,    67,    63,    94,   255,
          57,   126,   468,  4800,   912,  1992,   136,  3000,   232,
         832,   992,   630,  1020,  2100,   162,   234,   244, 12540,
          95,   760,   139,   115,   774,  2040,  1120,    59,   490,
         388,   620,  1404,   698, 80995])

**Task 19:** Remove transactions where UnitPrice is less than or equal to zero.

In [29]:
df=df.drop(df[df['UnitPrice']<=0].index)

In [30]:
df['UnitPrice'].unique()

array([2.55000e+00, 3.39000e+00, 2.75000e+00, 7.65000e+00, 4.25000e+00,
       1.85000e+00, 1.69000e+00, 2.10000e+00, 3.75000e+00, 1.65000e+00,
       4.95000e+00, 9.95000e+00, 5.95000e+00, 7.95000e+00, 8.50000e-01,
       6.50000e-01, 1.25000e+00, 2.95000e+00, 1.95000e+00, 4.20000e-01,
       1.80000e+01, 1.06000e+00, 6.95000e+00, 1.09500e+01, 3.45000e+00,
       5.50000e-01, 3.80000e-01, 1.45000e+00, 3.95000e+00, 6.75000e+00,
       1.49500e+01, 1.69500e+01, 6.45000e+00, 1.27500e+01, 1.99500e+01,
       8.50000e+00, 3.82000e+00, 3.37000e+00, 5.45000e+00, 6.35000e+00,
       7.20000e-01, 6.40000e-01, 1.00000e-01, 3.20000e-01, 1.48000e+00,
       1.65000e+02, 3.57500e+01, 4.65000e+00, 2.90000e-01, 3.35000e+00,
       1.06500e+01, 1.50000e+01, 9.50000e-01, 2.10000e-01, 1.20000e-01,
       2.40000e-01, 3.25000e+00, 1.49000e+00, 2.25000e+00, 1.55000e+00,
       1.89500e+01, 8.95000e+00, 5.00000e+01, 2.99500e+01, 4.60000e+00,
       1.05000e+00, 5.49000e+00, 1.90000e-01, 1.07500e+01, 7.99500e+01,
       1.19500e+01, 7.50000e-01, 3.60000e-01, 3.40000e-01, 1.60000e-01,
       1.88000e+00, 7.25000e+00, 1.80000e-01, 2.95000e+02, 4.00000e+01,
       2.80000e+01, 4.29500e+01, 2.69500e+01, 1.40000e-01, 2.19500e+01,
       5.55000e+00, 4.99500e+01, 1.00000e+00, 3.49000e+00, 1.59500e+01,
       3.50000e+01, 3.00000e-01, 6.60000e+00, 1.93000e+00, 3.21000e+00,
       5.30000e-01, 7.00000e-02, 3.99500e+01, 4.78000e+00, 1.98400e+01,
       2.31000e+00, 6.38000e+00, 9.89000e+00, 3.86000e+00, 5.27700e+01,
       3.88000e+00, 3.26900e+01, 1.45000e+02, 1.99400e+01, 5.00000e-01,
       2.50000e-01, 2.49500e+01, 3.59500e+01, 1.75000e+02, 3.81000e+00,
       1.70000e-01, 2.50000e+00, 7.50000e+00, 6.25000e+00, 2.12000e+00,
       1.25000e+02, 2.00000e+01, 5.00000e+00, 8.49000e+00, 2.00000e+00,
       1.53000e+00, 9.40000e-01, 3.49500e+01, 3.00000e+00, 6.50000e+01,
       3.50000e+00, 4.00000e-01, 1.50000e+02, 2.00000e-01, 3.98000e+00,
       3.70000e-01, 6.70000e+00, 3.24000e+00, 2.17000e+00, 1.01300e+01,
       2.40000e+00, 2.65000e+00, 2.21000e+00, 2.16000e+00, 7.30000e-01,
       1.24000e+00, 3.44000e+00, 4.68000e+00, 2.22000e+00, 2.69000e+00,
       4.62000e+00, 6.91000e+00, 9.16000e+00, 8.87000e+00, 7.13000e+00,
       7.45000e+00, 1.00000e+01, 1.10000e+02, 1.04000e+00, 5.79500e+01,
       1.27000e+00, 5.99500e+01, 4.00000e+00, 2.08000e+00, 4.15000e+00,
       5.75000e+00, 4.77000e+00, 2.20000e-01, 6.00000e-02, 3.90000e-01,
       7.90000e-01, 3.20690e+02, 8.20000e-01, 1.75000e+00, 8.15000e+00,
       3.50000e-01, 3.76500e+02, 2.80050e+02, 1.83750e+02, 2.75600e+02,
       8.30000e-01, 7.90000e+00, 6.98000e+00, 2.89000e+00, 8.25000e+00,
       1.95000e+02, 3.29500e+01, 4.50000e+01, 8.00000e-02, 3.40000e+00,
       1.68717e+03, 6.30000e-01, 6.80000e-01, 2.70000e+01, 2.32000e+00,
       1.70000e+00, 6.00000e+00, 1.29800e+01, 3.85000e+00, 2.49000e+00,
       1.79000e+00, 7.60000e-01, 3.50000e+02, 1.34000e+02, 1.62600e+02,
       2.38292e+03, 2.39300e+02, 1.25295e+03, 2.05307e+03, 1.13630e+03,
       6.65000e+00, 1.86786e+03, 1.50000e+00, 3.08820e+02, 1.00000e-03,
       1.25000e+01, 2.22750e+02, 3.29000e+00, 2.35000e+00, 7.05000e+00,
       1.04000e+01, 1.74000e+00, 3.15000e+00, 4.00000e+02, 1.11500e+01,
       8.14275e+03, 2.59500e+01, 3.34710e+02, 5.39000e+00, 6.90000e-01,
       5.23000e+02, 5.57720e+02, 7.40000e-01, 9.15000e+00, 4.58000e+00,
       2.66000e+00, 2.33000e+00, 7.62000e+00, 6.78000e+00, 5.88000e+00,
       4.86000e+00, 3.32000e+00, 9.42000e+00, 6.79000e+00, 2.96000e+00,
       1.98000e+00, 1.16300e+01, 1.18000e+00, 1.92000e+00, 6.42000e+00,
       4.27000e+00, 2.46000e+00, 1.68000e+00, 1.66000e+00, 2.93000e+02,
       4.17500e+01, 1.90000e+00, 1.24198e+03, 1.29500e+01, 4.18000e+00,
       5.90000e-01, 4.00000e-02, 1.24800e+01, 3.00000e+01, 1.29380e+02,
       6.49500e+02, 2.02000e+00, 4.80000e+00, 3.91000e+00, 3.90000e+00,
       6.40000e+00, 8.00000e+00, 2.50000e+01, 2.80000e-01, 6.20000e-01,
       2.70000e-01, 8.60000e-01, 2.26000e+00, 2.62000e+00, 5.80000e-01,
       7.00000e+02, 9.80000e-01, 7.85000e+00, 6.89000e+00, 5.32000e+00,
       6.00000e+02, 3.89680e+02, 8.50000e+01, 2.39000e+00, 3.20000e+00,
       5.50940e+02, 5.50640e+02, 4.51420e+02, 4.30000e+00, 2.90000e+00,
       3.65000e+01, 1.02000e+00, 2.50000e+02, 2.08340e+02, 2.50000e+03,
       1.08000e+00, 3.28000e+00, 1.43000e+00, 4.02000e+00, 4.08000e+00,
       5.14000e+00, 2.60000e+00, 5.08000e+00, 5.15000e+00, 1.03900e+01,
       1.63000e+00, 1.23000e+00, 1.11700e+01, 6.50000e+00, 8.52800e+02,
       5.79000e+00, 8.29000e+00, 7.46000e+00, 4.13000e+00, 4.96000e+00,
       1.07900e+01, 1.64600e+01, 7.08000e+00, 1.31600e+01, 1.24600e+01,
       2.49600e+01, 1.57900e+01, 1.41300e+01, 8.55800e+01, 2.03310e+03,
       5.10000e+00, 2.41000e+00, 5.06000e+00, 5.18000e+00, 8.78550e+02,
       6.63000e+00, 1.66300e+01, 2.92000e+00, 9.96000e+00, 2.99000e+00,
       8.12000e+00, 1.64000e+00, 5.64000e+00, 6.72000e+00, 3.75000e+01,
       1.96000e+00, 9.98000e+00, 4.67000e+00, 1.16700e+01, 8.00000e-01,
       3.12000e+00, 1.49600e+01, 2.91300e+01, 1.32900e+01, 3.32900e+01,
       1.80000e+00, 6.88080e+02, 1.20000e+01, 6.36000e+00, 9.13000e+00,
       4.90250e+02, 3.26000e+00, 1.12000e+00, 1.97000e+00, 6.67000e+00,
       1.40000e+00, 2.85000e+00, 1.60000e+00, 4.98000e+00, 5.66000e+00,
       3.58000e+00, 5.35000e+00, 9.00000e-01, 3.57000e+00, 3.89000e+00,
       3.97000e+00, 5.68000e+00, 3.15595e+03, 1.52780e+02, 3.22200e+01,
       1.20000e+02, 2.40000e+02, 2.30000e+00, 1.99600e+01, 1.46000e+00,
       6.35010e+02, 4.50000e+00, 5.99500e+02, 2.83020e+02, 3.39020e+02,
       7.43620e+02, 3.94932e+03, 2.11874e+03, 1.66500e+01, 2.08000e+01,
       3.92000e+00, 4.14000e+00, 4.64900e+02, 6.38300e+02, 1.45500e+01,
       3.13000e+00, 1.67000e+00, 4.16106e+03, 1.71000e+00, 9.01580e+02,
       2.48000e+00, 1.10000e+00, 1.11000e+00, 9.08160e+02, 4.04600e+01,
       4.24060e+02, 5.49340e+02, 5.17000e+00, 2.67000e+00, 9.20000e-01,
       1.38000e+00, 1.50036e+03, 8.50500e+02, 2.10000e+01, 3.00000e+02,
       6.71000e+00, 2.04000e+00, 1.27006e+03, 1.52676e+03, 5.13000e+00,
       1.19000e+00, 5.20000e-01, 7.84000e+00, 2.42000e+00, 1.01000e+00,
       3.16000e+00, 4.70000e+00, 9.00000e-02, 2.19500e+02, 1.70000e+01,
       1.59926e+03, 1.86000e+00, 3.30000e+00, 1.33500e+01, 4.76000e+00])


**Task 20:** Remove all cancelled transactions (invoices starting with 'C').

In [31]:
df=df.drop(df[df['InvoiceNo'].str.startswith('C',na=False)].index)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392692 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392692 non-null  object
 1   StockCode    392692 non-null  object
 2   Description  392692 non-null  object
 3   Quantity     392692 non-null  int64
 4   InvoiceDate  392692 non-null  object
 5   UnitPrice    392692 non-null  float64
 6   CustomerID   392692 non-null  float64
 7   Country      392692 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.0+ MB

**Task 21:** Change the column name "Description" to "ProductName".

In [33]:
df.rename(columns={'Description':'ProductName'},inplace=True)

In [34]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

**Task 22:** Ensure the InvoiceDate column is in proper date-time format.

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392692 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392692 non-null  object
 1   StockCode    392692 non-null  object
 2   ProductName  392692 non-null  object
 3   Quantity     392692 non-null  int64
 4   InvoiceDate  392692 non-null  object
 5   UnitPrice    392692 non-null  float64
 6   CustomerID   392692 non-null  float64
 7   Country      392692 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.0+ MB

In [36]:
df['InvoiceDate'].unique()

array(['12/1/2010 8:26', '12/1/2010 8:28', '12/1/2010 8:34', ...,
       '12/9/2011 12:31', '12/9/2011 12:49', '12/9/2011 12:50'],
      dtype=object)

In [37]:
df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'])

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392692 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392692 non-null  object
 1   StockCode    392692 non-null  object
 2   ProductName  392692 non-null  object
 3   Quantity     392692 non-null  int64
 4   InvoiceDate  392692 non-null  datetime64[ns]
 5   UnitPrice    392692 non-null  float64
 6   CustomerID   392692 non-null  float64
 7   Country      392692 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.0+ MB

In [39]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

**Task 23:** Convert CustomerID to integer type.

In [40]:
df['CustomerID']=df['CustomerID'].astype(int)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392692 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392692 non-null  object
 1   StockCode    392692 non-null  object
 2   ProductName  392692 non-null  object
 3   Quantity     392692 non-null  int64
 4   InvoiceDate  392692 non-null  datetime64[ns]
 5   UnitPrice    392692 non-null  float64
 6   CustomerID   392692 non-null  int64
 7   Country      392692 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 27.0+ MB

**Task 24:** Reset the index after all cleaning operations.

In [42]:
df.reset_index(drop=True,inplace=True)

In [43]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France

### **PART D: Feature Creation**

**Task 25:** Create a new column called "TotalPrice" that represents the total value of each transaction.

In [44]:
df['Total Price']=df['UnitPrice']*df['Quantity']

In [45]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85

**Task 26:** Extract the year from InvoiceDate and store it in a new column "Year".

In [46]:
df['Year']=df['InvoiceDate'].dt.year

In [47]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010
...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011

**Task 27:** Extract the month from InvoiceDate and store it in a new column "Month".

In [48]:
df['Month']=df['InvoiceDate'].dt.month

In [49]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12
...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12

**Task 28:** Extract the day from InvoiceDate and store it in a new column "Day".

In [50]:
df['Day']=df['InvoiceDate'].dt.day

In [51]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9

**Task 29:** Extract the hour from InvoiceDate and store it in a new column "Hour".

In [52]:
df['Hour']=df['InvoiceDate'].dt.hour

In [53]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12

**Task 30:** Create a column "DayOfWeek" showing which day of the week the transaction occurred.

In [54]:
df['Day of Week ']=df['InvoiceDate'].dt.dayofweek

In [55]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4

**Task 31:** Create a column "Quarter" showing which quarter (Q1, Q2, Q3, Q4) the transaction belongs to.

In [56]:
df['Quarter']=df['InvoiceDate'].dt.quarter

In [57]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4

**Task 32:** Create a column "RevenueCategory" with three levels:
- "Low" for transactions under Â£10
- "Medium" for transactions between Â£10 and Â£100
- "High" for transactions above Â£100

In [58]:
df['RevenueCategory']=np.where(df['Total Price']<10,"Low",np.where((df['Total Price']>10) & (df['Total Price']<100),"Medium",
                               "High"))

In [59]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4,Medium
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium

In [60]:
df['RevenueCategory'].unique()

array(['Medium', 'Low', 'High'], dtype=object)

**Task 33:** Create a column "OrderSize" with three levels:
- "Small" for Quantity less than 5
- "Medium" for Quantity between 5 and 20
- "Large" for Quantity greater than 20

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392692 entries, 0 to 392691
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   InvoiceNo        392692 non-null  object
 1   StockCode        392692 non-null  object
 2   ProductName      392692 non-null  object
 3   Quantity         392692 non-null  int64
 4   InvoiceDate      392692 non-null  datetime64[ns]
 5   UnitPrice        392692 non-null  float64
 6   CustomerID       392692 non-null  int64
 7   Country          392692 non-null  object
 8   Total Price      392692 non-null  float64
 9   Year             392692 non-null  int32
 10  Month            392692 non-null  int32
 11  Day              392692 non-null  int32
 12  Hour             392692 non-null  int32
 13  Day of Week      392692 non-null  int32
 14  Quarter          392692 non-null  int32
 15  RevenueCategory  392692 non-null  object
dtypes: datetime64[ns](1), float64(2), int32(6), int64(2), object(5)
memory usage: 38.9+ MB

In [62]:
df['OrderSize']=np.where(df['Quantity']<5,"Small",
                         np.where((df['Quantity']>=5) & (df['Quantity']<=20),"Medium","Large"))

In [63]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium,Medium
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4,Medium,Medium
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small

In [64]:
df['OrderSize'].unique()

array(['Medium', 'Small', 'Large'], dtype=object)

**Task 34:** Create a column that shows the length of each product name.

In [65]:
df['ProductName'].str.len()

0         34
1         19
2         30
3         35
4         30
          ..
392687    27
392688    28
392689    29
392690    31
392691    29
Name: ProductName, Length: 392692, dtype: int64

### **PART E: Text Data Processing**

**Task 35:** Convert all product names to uppercase.

In [66]:
df['ProductName']=df['ProductName'].str.lower()

In [67]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium,Medium
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4,Medium,Medium
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium
392688,581587,22899,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium
392689,581587,23254,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392690,581587,23255,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392691,581587,22138,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small

**Task 36:** Remove any extra spaces from the Country column.

In [68]:
df['Country']

0         United Kingdom
1         United Kingdom
2         United Kingdom
3         United Kingdom
4         United Kingdom
               ...
392687            France
392688            France
392689            France
392690            France
392691            France
Name: Country, Length: 392692, dtype: object

In [69]:
df['Country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Finland',
       'Austria', 'Greece', 'Singapore', 'Lebanon',
       'United Arab Emirates', 'Israel', 'Saudi Arabia', 'Czech Republic',
       'Canada', 'Unspecified', 'Brazil', 'USA', 'European Community',
       'Bahrain', 'Malta', 'RSA'], dtype=object)

In [70]:
df['Country']=df['Country'].str.strip()

In [71]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium,Medium
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4,Medium,Medium
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium
392688,581587,22899,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium
392689,581587,23254,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392690,581587,23255,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392691,581587,22138,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small

**Task 37:** Find all products that contain the word "BAG" in their name.

In [72]:
df[df['ProductName'].str.contains("bag")]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
38,536370,22661,charlotte bag dolly girl design,20,2010-12-01 08:45:00,0.85,12583,France,17.0,2010,12,1,8,2,4,Medium,Medium
86,536378,22386,jumbo bag pink polkadot,10,2010-12-01 09:37:00,1.95,14688,United Kingdom,19.5,2010,12,1,9,2,4,Medium,Medium
87,536378,85099C,jumbo bag baroque black white,10,2010-12-01 09:37:00,1.95,14688,United Kingdom,19.5,2010,12,1,9,2,4,Medium,Medium
88,536378,21033,jumbo bag charlie and lola toys,10,2010-12-01 09:37:00,2.95,14688,United Kingdom,29.5,2010,12,1,9,2,4,Medium,Medium
89,536378,20723,strawberry charlotte bag,10,2010-12-01 09:37:00,0.85,14688,United Kingdom,8.5,2010,12,1,9,2,4,Low,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392616,581579,23343,jumbo bag vintage christmas,30,2011-12-09 12:19:00,1.79,17581,United Kingdom,53.7,2011,12,9,12,4,4,Medium,Large
392617,581579,23344,jumbo bag 50's christmas,20,2011-12-09 12:19:00,1.79,17581,United Kingdom,35.8,2011,12,9,12,4,4,Medium,Medium
392618,581579,23581,jumbo bag paisley park,40,2011-12-09 12:19:00,1.79,17581,United Kingdom,71.6,2011,12,9,12,4,4,Medium,Large
392645,581581,23681,lunch bag red vintage doily,10,2011-12-09 12:20:00,1.65,17581,United Kingdom,16.5,2011,12,9,12,4,4,Medium,Medium
392648,581583,20725,lunch bag red retrospot,40,2011-12-09 12:23:00,1.45,13777,United Kingdom,58.0,2011,12,9,12,4,4,Medium,Large

**Task 38:** Find all products whose names start with "WHITE".

In [73]:
df[df['ProductName'].str.startswith("white")]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium,Medium
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium
49,536373,85123A,white hanging heart t-light holder,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.30,2010,12,1,9,2,4,Medium,Medium
50,536373,71053,white metal lantern,6,2010-12-01 09:02:00,3.39,17850,United Kingdom,20.34,2010,12,1,9,2,4,Medium,Medium
66,536375,85123A,white hanging heart t-light holder,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,15.30,2010,12,1,9,2,4,Medium,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392022,581472,85123A,white hanging heart t-light holder,6,2011-12-08 19:55:00,2.95,15796,United Kingdom,17.70,2011,12,8,19,3,4,Medium,Medium
392135,581476,21479,white skull hot water bottle,4,2011-12-09 08:48:00,4.25,12433,Norway,17.00,2011,12,9,8,4,4,Medium,Small
392372,581502,23210,white rocking horse hand painted,12,2011-12-09 10:51:00,1.25,15910,United Kingdom,15.00,2011,12,9,10,4,4,Medium,Medium
392439,581538,21673,white spot blue ceramic drawer knob,1,2011-12-09 11:34:00,1.45,14446,United Kingdom,1.45,2011,12,9,11,4,4,Low,Small
392498,581567,21479,white skull hot water bottle,4,2011-12-09 11:56:00,4.25,16626,United Kingdom,17.00,2011,12,9,11,4,4,Medium,Small

**Task 39:** Find all products whose names end with "HOLDER".

In [74]:
df[df['ProductName'].str.endswith("holder")]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.3,2010,12,1,8,2,4,Medium,Medium
6,536365,21730,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.5,2010,12,1,8,2,4,Medium,Medium
49,536373,85123A,white hanging heart t-light holder,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.3,2010,12,1,9,2,4,Medium,Medium
64,536373,21730,glass star frosted t-light holder,6,2010-12-01 09:02:00,4.25,17850,United Kingdom,25.5,2010,12,1,9,2,4,Medium,Medium
66,536375,85123A,white hanging heart t-light holder,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,15.3,2010,12,1,9,2,4,Medium,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392497,581567,21326,aged glass silver t-light holder,144,2011-12-09 11:56:00,0.55,16626,United Kingdom,79.2,2011,12,9,11,4,4,Medium,Large
392524,581571,85053,french enamel candleholder,2,2011-12-09 12:00:00,2.10,15311,United Kingdom,4.2,2011,12,9,12,4,4,Low,Small
392608,581579,22197,popcorn holder,24,2011-12-09 12:19:00,0.85,17581,United Kingdom,20.4,2011,12,9,12,4,4,Medium,Large
392655,581585,22460,embossed glass tealight holder,12,2011-12-09 12:31:00,1.25,15804,United Kingdom,15.0,2011,12,9,12,4,4,Medium,Medium
392659,581585,84945,multi colour silver t-light holder,24,2011-12-09 12:31:00,0.85,15804,United Kingdom,20.4,2011,12,9,12,4,4,Medium,Large

**Task 40:** Replace "United Kingdom" with "UK" in the Country column.

In [75]:
df['Country']=df['Country'].replace('United Kingdom','UK')

In [76]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium
392688,581587,22899,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium
392689,581587,23254,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392690,581587,23255,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392691,581587,22138,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small

In [77]:
df['Country'].unique()

array(['UK', 'France', 'Australia', 'Netherlands', 'Germany', 'Norway',
       'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal', 'Italy',
       'Belgium', 'Lithuania', 'Japan', 'Iceland', 'Channel Islands',
       'Denmark', 'Cyprus', 'Sweden', 'Finland', 'Austria', 'Greece',
       'Singapore', 'Lebanon', 'United Arab Emirates', 'Israel',
       'Saudi Arabia', 'Czech Republic', 'Canada', 'Unspecified',
       'Brazil', 'USA', 'European Community', 'Bahrain', 'Malta', 'RSA'],
      dtype=object)

**Task 41:** Replace "EIRE" with "Ireland" in the Country column.

In [78]:
df['Country']=df['Country'].replace('EIRE','Ireland')

In [79]:
df['Country'].unique()

array(['UK', 'France', 'Australia', 'Netherlands', 'Germany', 'Norway',
       'Ireland', 'Switzerland', 'Spain', 'Poland', 'Portugal', 'Italy',
       'Belgium', 'Lithuania', 'Japan', 'Iceland', 'Channel Islands',
       'Denmark', 'Cyprus', 'Sweden', 'Finland', 'Austria', 'Greece',
       'Singapore', 'Lebanon', 'United Arab Emirates', 'Israel',
       'Saudi Arabia', 'Czech Republic', 'Canada', 'Unspecified',
       'Brazil', 'USA', 'European Community', 'Bahrain', 'Malta', 'RSA'],
      dtype=object)

### **PART F: Data Selection and Filtering**

**Task 42:** Select only the columns: InvoiceNo, ProductName, Quantity, UnitPrice, Country.

In [80]:
df['InvoiceNo']

0         536365
1         536365
2         536365
3         536365
4         536365
           ...
392687    581587
392688    581587
392689    581587
392690    581587
392691    581587
Name: InvoiceNo, Length: 392692, dtype: object

**Task 43:** Display transactions from Germany only.

In [81]:
df[df['Country']=='Germany']

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
1073,536527,22809,set of 6 t-lights santa,6,2010-12-01 13:04:00,2.95,12662,Germany,17.70,2010,12,1,13,2,4,Medium,Medium
1074,536527,84347,rotating silver angels t-light hldr,6,2010-12-01 13:04:00,2.55,12662,Germany,15.30,2010,12,1,13,2,4,Medium,Medium
1075,536527,84945,multi colour silver t-light holder,12,2010-12-01 13:04:00,0.85,12662,Germany,10.20,2010,12,1,13,2,4,Medium,Medium
1076,536527,22242,5 hook hanger magic toadstool,12,2010-12-01 13:04:00,1.65,12662,Germany,19.80,2010,12,1,13,2,4,Medium,Medium
1077,536527,22244,3 hook hanger magic garden,12,2010-12-01 13:04:00,1.95,12662,Germany,23.40,2010,12,1,13,2,4,Medium,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392584,581578,22993,set of 4 pantry jelly moulds,12,2011-12-09 12:16:00,1.25,12713,Germany,15.00,2011,12,9,12,4,4,Medium,Medium
392585,581578,22907,pack of 20 napkins pantry design,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,2011,12,9,12,4,4,Medium,Medium
392586,581578,22908,pack of 20 napkins red apples,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,2011,12,9,12,4,4,Medium,Medium
392587,581578,23215,jingle bell heart antique silver,12,2011-12-09 12:16:00,2.08,12713,Germany,24.96,2011,12,9,12,4,4,Medium,Medium
392588,581578,22736,ribbon reel making snowmen,10,2011-12-09 12:16:00,1.65,12713,Germany,16.50,2011,12,9,12,4,4,Medium,Medium

In [82]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium
392688,581587,22899,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium
392689,581587,23254,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392690,581587,23255,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392691,581587,22138,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small

**Task 44:** Display transactions where Quantity is greater than 50.

In [83]:
df[df['Quantity']>50]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
46,536371,22086,paper chain kit 50's christmas,80,2010-12-01 09:00:00,2.55,13748,UK,204.00,2010,12,1,9,2,4,High,Large
83,536376,21733,red hanging heart t-light holder,64,2010-12-01 09:32:00,2.55,15291,UK,163.20,2010,12,1,9,2,4,High,Large
96,536378,21212,pack of 72 retrospot cake cases,120,2010-12-01 09:37:00,0.42,14688,UK,50.40,2010,12,1,9,2,4,Medium,Large
102,536378,85071B,red charlie+lola personal doorsign,96,2010-12-01 09:37:00,0.38,14688,UK,36.48,2010,12,1,9,2,4,Medium,Large
174,536386,85099C,jumbo bag baroque black white,100,2010-12-01 09:57:00,1.65,16029,UK,165.00,2010,12,1,9,2,4,High,Large
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392488,581566,23404,home sweet home blackboard,144,2011-12-09 11:50:00,3.26,18102,UK,469.44,2011,12,9,11,4,4,High,Large
392489,581567,21417,cockle shell dish,84,2011-12-09 11:56:00,0.79,16626,UK,66.36,2011,12,9,11,4,4,Medium,Large
392497,581567,21326,aged glass silver t-light holder,144,2011-12-09 11:56:00,0.55,16626,UK,79.20,2011,12,9,11,4,4,Medium,Large
392529,581571,23167,small ceramic top storage jar,96,2011-12-09 12:00:00,0.69,15311,UK,66.24,2011,12,9,12,4,4,Medium,Large
392650,581584,20832,red flock love heart photo frame,72,2011-12-09 12:25:00,0.72,13777,UK,51.84,2011,12,9,12,4,4,Medium,Large

**Task 45:** Display transactions where UnitPrice is between Â£5 and Â£10.

In [84]:
df[(df['UnitPrice']>5) & (df['UnitPrice']<10)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
5,536365,22752,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,UK,15.30,2010,12,1,8,2,4,Medium,Small
16,536367,22622,box of vintage alphabet blocks,2,2010-12-01 08:34:00,9.95,13047,UK,19.90,2010,12,1,8,2,4,Medium,Small
17,536367,21754,home building block word,3,2010-12-01 08:34:00,5.95,13047,UK,17.85,2010,12,1,8,2,4,Medium,Small
18,536367,21755,love building block word,3,2010-12-01 08:34:00,5.95,13047,UK,17.85,2010,12,1,8,2,4,Medium,Small
19,536367,21777,recipe box with metal heart,4,2010-12-01 08:34:00,7.95,13047,UK,31.80,2010,12,1,8,2,4,Medium,Small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392638,581580,21351,cinammon & orange wreath,1,2011-12-09 12:20:00,6.75,12748,UK,6.75,2011,12,9,12,4,4,Low,Small
392641,581580,79321,chilli lights,2,2011-12-09 12:20:00,5.75,12748,UK,11.50,2011,12,9,12,4,4,Medium,Small
392661,581585,23356,love hot water bottle,3,2011-12-09 12:31:00,5.95,15804,UK,17.85,2011,12,9,12,4,4,Medium,Small
392675,581586,21217,red retrospot round cake tins,24,2011-12-09 12:49:00,8.95,13113,UK,214.80,2011,12,9,12,4,4,High,Large
392676,581586,20685,doormat red retrospot,10,2011-12-09 12:49:00,7.08,13113,UK,70.80,2011,12,9,12,4,4,Medium,Medium

**Task 46:** Display transactions from France with Quantity greater than 20.

In [85]:
df[(df['Country']=='France') & (df['Quantity']>20)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
26,536370,22728,alarm clock bakelike pink,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,2,4,Medium,Large
27,536370,22727,alarm clock bakelike red,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,2,4,Medium,Large
30,536370,21883,stars gift tape,24,2010-12-01 08:45:00,0.65,12583,France,15.60,2010,12,1,8,2,4,Medium,Large
31,536370,10002,inflatable political globe,48,2010-12-01 08:45:00,0.85,12583,France,40.80,2010,12,1,8,2,4,Medium,Large
32,536370,21791,vintage heads and tails card game,24,2010-12-01 08:45:00,1.25,12583,France,30.00,2010,12,1,8,2,4,Medium,Large
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387471,581001,23084,rabbit night light,24,2011-12-07 08:07:00,1.79,12583,France,42.96,2011,12,7,8,2,4,Medium,Large
387485,581001,22726,alarm clock bakelike green,24,2011-12-07 08:07:00,3.75,12583,France,90.00,2011,12,7,8,2,4,Medium,Large
389063,581171,22966,gingerbread man cookie cutter,24,2011-12-07 15:02:00,1.25,12615,France,30.00,2011,12,7,15,2,4,Medium,Large
389074,581171,84077,world war 2 gliders asstd designs,48,2011-12-07 15:02:00,0.29,12615,France,13.92,2011,12,7,15,2,4,Medium,Large
389081,581171,23084,rabbit night light,24,2011-12-07 15:02:00,1.79,12615,France,42.96,2011,12,7,15,2,4,Medium,Large

**Task 47:** Display transactions from December 2010.

In [86]:
df[df['Year']==2010]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25665,539988,84380,set of 3 butterfly cookie cutters,1,2010-12-23 16:06:00,1.25,18116,UK,1.25,2010,12,23,16,3,4,Low,Small
25666,539988,84849D,hot baths soap holder,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,12,23,16,3,4,Low,Small
25667,539988,84849B,fairy soap soap holder,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,12,23,16,3,4,Low,Small
25668,539988,22854,cream sweetheart egg holder,2,2010-12-23 16:06:00,4.95,18116,UK,9.90,2010,12,23,16,3,4,Low,Small
25669,539988,47559B,tea time oven glove,2,2010-12-23 16:06:00,1.25,18116,UK,2.50,2010,12,23,16,3,4,Low,Small

**Task 48:** Display transactions that occurred on weekends.

In [87]:
df[df['Day of Week ']>=5]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
4943,537037,22114,hot water bottle tea and sympathy,8,2010-12-05 10:03:00,3.95,17243,UK,31.60,2010,12,5,10,6,4,Medium,Medium
4944,537037,21485,retrospot heart hot water bottle,6,2010-12-05 10:03:00,4.95,17243,UK,29.70,2010,12,5,10,6,4,Medium,Medium
4945,537037,22835,hot water bottle i am so poorly,3,2010-12-05 10:03:00,4.65,17243,UK,13.95,2010,12,5,10,6,4,Medium,Small
4946,537037,84029E,red woolly hottie white heart.,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,6,4,Medium,Medium
4947,537037,84029G,knitted union flag hot water bottle,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,6,4,Medium,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381605,580536,21156,retrospot childrens apron,8,2011-12-04 16:07:00,1.95,12490,France,15.60,2011,12,4,16,6,4,Medium,Medium
381606,580536,21880,red retrospot tape,12,2011-12-04 16:07:00,0.65,12490,France,7.80,2011,12,4,16,6,4,Low,Medium
381607,580536,22090,paper bunting retrospot,6,2011-12-04 16:07:00,2.95,12490,France,17.70,2011,12,4,16,6,4,Medium,Medium
381608,580536,22628,picnic boxes set of 3 retrospot,4,2011-12-04 16:07:00,4.95,12490,France,19.80,2011,12,4,16,6,4,Medium,Small
381609,580536,POST,postage,3,2011-12-04 16:07:00,18.00,12490,France,54.00,2011,12,4,16,6,4,Medium,Small

**Task 49:** Display the top 10 transactions by TotalPrice.

In [88]:
df.sort_values(by='Total Price').head(10)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
254730,568200,PADS,pads to match all cushions,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,9,25,14,6,3,Low,Small
105962,550193,PADS,pads to match all cushions,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,4,15,9,4,2,Low,Small
192219,561226,PADS,pads to match all cushions,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,7,26,10,1,3,Low,Small
256543,568375,BANK CHARGES,bank charges,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,9,26,17,0,3,Low,Small
364817,578757,16216,letter shape pencil sharpener,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,11,25,11,4,4,Low,Small
196908,561894,M,manual,1,2011-07-31 15:00:00,0.080,14456,UK,0.080,2011,7,31,15,6,3,Low,Small
176900,559509,17038,porcelain budah incense holder,1,2011-07-08 15:25:00,0.100,15920,UK,0.100,2011,7,8,15,4,3,Low,Small
167801,558198,17038,porcelain budah incense holder,1,2011-06-27 12:49:00,0.100,14104,UK,0.100,2011,6,27,12,0,2,Low,Small
362505,578479,17038,porcelain budah incense holder,1,2011-11-24 12:48:00,0.100,15858,UK,0.100,2011,11,24,12,3,4,Low,Small
295536,572103,16048,teatime round pencil sharpener,1,2011-10-20 15:57:00,0.120,17571,UK,0.120,2011,10,20,15,3,4,Low,Small


**Task 50:** Display the bottom 15 transactions by TotalPrice.

In [89]:
df.sort_values(by='Total Price').tail(15)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
305365,573080,M,manual,1,2011-10-27 14:20:00,4161.06,12536,France,4161.06,2011,10,27,14,3,4,High,Small
201787,562439,84879,assorted colour bird ornament,2880,2011-08-04 18:06:00,1.45,12931,UK,4176.00,2011,8,4,18,3,3,High,Large
108202,550461,48185,doormat fairy cake,670,2011-04-18 13:20:00,6.35,15749,UK,4254.50,2011,4,18,13,0,2,High,Large
169598,558526,23173,regency teapot roses,540,2011-06-30 11:01:00,8.15,17949,UK,4401.00,2011,6,30,11,3,2,High,Large
32259,540818,48185,doormat fairy cake,670,2011-01-11 12:57:00,6.75,15749,UK,4522.50,2011,1,11,12,1,1,High,Large
108200,550461,85123A,white hanging heart t-light holder,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,0,2,High,Large
32197,540815,85123A,white hanging heart t-light holder,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,1,1,High,Large
304623,573003,23084,rabbit night light,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,3,4,High,Large
108204,550461,21108,fairy cake flannel assorted colour,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,0,2,High,Large
32199,540815,21108,fairy cake flannel assorted colour,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,1,1,High,Large
246041,567423,23243,set of tea coffee sugar tins pantry,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,1,3,High,Large
116868,551697,POST,postage,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,1,2,High,Small
153588,556444,22502,picnic basket wicker 60 pieces,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,4,2,High,Large
36521,541431,23166,medium ceramic top storage jar,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,1,1,High,Large
392226,581483,23843,"paper craft , little birdie",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,4,4,High,Large

**Task 51:** Find all transactions from either UK, Germany, or France.

In [90]:
df[(df['Country']=='UK') | (df['Country']=='Germany')|(df['Country']=='France')]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium
392688,581587,22899,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium
392689,581587,23254,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392690,581587,23255,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392691,581587,22138,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small

**Task 52:** Find transactions where TotalPrice is above the 95th percentile.

In [91]:
df['Total Price']

0         15.30
1         20.34
2         22.00
3         20.34
4         20.34
          ...
392687    10.20
392688    12.60
392689    16.60
392690    16.60
392691    14.85
Name: Total Price, Length: 392692, dtype: float64

### **PART G: Sorting Operations**

**Task 53:** Sort the entire dataset by InvoiceDate in ascending order.

In [92]:
df.sort_values(by='InvoiceDate')

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392679,581587,22555,plasters in tin strongman,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,12,9,12,4,4,Medium,Medium
392678,581587,22556,plasters in tin circus parade,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,12,9,12,4,4,Medium,Medium
392690,581587,23255,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392683,581587,22730,alarm clock bakelike ivory,4,2011-12-09 12:50:00,3.75,12680,France,15.00,2011,12,9,12,4,4,Medium,Small
392691,581587,22138,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small

**Task 54:** Sort the dataset by TotalPrice in descending order.

In [93]:
df.sort_values(by='Total Price',ascending=False)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
392226,581483,23843,"paper craft , little birdie",80995,2011-12-09 09:15:00,2.080,16446,UK,168469.600,2011,12,9,9,4,4,High,Large
36521,541431,23166,medium ceramic top storage jar,74215,2011-01-18 10:01:00,1.040,12346,UK,77183.600,2011,1,18,10,1,1,High,Large
153588,556444,22502,picnic basket wicker 60 pieces,60,2011-06-10 15:28:00,649.500,15098,UK,38970.000,2011,6,10,15,4,2,High,Large
116868,551697,POST,postage,1,2011-05-03 13:46:00,8142.750,16029,UK,8142.750,2011,5,3,13,1,2,High,Small
246041,567423,23243,set of tea coffee sugar tins pantry,1412,2011-09-20 11:05:00,5.060,17450,UK,7144.720,2011,9,20,11,1,3,High,Large
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364817,578757,16216,letter shape pencil sharpener,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,11,25,11,4,4,Low,Small
254730,568200,PADS,pads to match all cushions,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,9,25,14,6,3,Low,Small
256543,568375,BANK CHARGES,bank charges,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,9,26,17,0,3,Low,Small
192219,561226,PADS,pads to match all cushions,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,7,26,10,1,3,Low,Small
105962,550193,PADS,pads to match all cushions,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,4,15,9,4,2,Low,Small

**Task 55:** Sort by Country (ascending) and then by TotalPrice (descending).

In [94]:
df.sort_values(by='Country')

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
185518,560473,22727,alarm clock bakelike red,4,2011-07-19 10:42:00,3.75,12431,Australia,15.00,2011,7,19,10,1,3,Medium,Small
180677,559919,21179,no junk mail metal sign,48,2011-07-13 15:30:00,0.39,12415,Australia,18.72,2011,7,13,15,2,3,Medium,Large
180678,559919,22093,motoring tissue box,72,2011-07-13 15:30:00,0.39,12415,Australia,28.08,2011,7,13,15,2,3,Medium,Large
180679,559919,23187,french style storage jar bonbons,48,2011-07-13 15:30:00,0.29,12415,Australia,13.92,2011,7,13,15,2,3,Medium,Large
180680,559919,22139,retrospot tea set ceramic 11 pc,48,2011-07-13 15:30:00,4.25,12415,Australia,204.00,2011,7,13,15,2,3,High,Large
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194900,561661,79063C,"retro pill box key chain,the king",1,2011-07-28 16:21:00,0.19,12743,Unspecified,0.19,2011,7,28,16,3,3,Low,Small
194899,561661,84821,danish rose deluxe coaster,1,2011-07-28 16:21:00,0.85,12743,Unspecified,0.85,2011,7,28,16,3,3,Low,Small
194898,561661,84879,assorted colour bird ornament,3,2011-07-28 16:21:00,1.69,12743,Unspecified,5.07,2011,7,28,16,3,3,Low,Small
194868,561658,22411,jumbo shopper vintage red paisley,1,2011-07-28 16:06:00,2.08,12743,Unspecified,2.08,2011,7,28,16,3,3,Low,Small
194835,561658,22752,set 7 babushka nesting boxes,1,2011-07-28 16:06:00,8.50,12743,Unspecified,8.50,2011,7,28,16,3,3,Low,Small

In [95]:
df.sort_values(by='Total Price',ascending=False)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
392226,581483,23843,"paper craft , little birdie",80995,2011-12-09 09:15:00,2.080,16446,UK,168469.600,2011,12,9,9,4,4,High,Large
36521,541431,23166,medium ceramic top storage jar,74215,2011-01-18 10:01:00,1.040,12346,UK,77183.600,2011,1,18,10,1,1,High,Large
153588,556444,22502,picnic basket wicker 60 pieces,60,2011-06-10 15:28:00,649.500,15098,UK,38970.000,2011,6,10,15,4,2,High,Large
116868,551697,POST,postage,1,2011-05-03 13:46:00,8142.750,16029,UK,8142.750,2011,5,3,13,1,2,High,Small
246041,567423,23243,set of tea coffee sugar tins pantry,1412,2011-09-20 11:05:00,5.060,17450,UK,7144.720,2011,9,20,11,1,3,High,Large
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364817,578757,16216,letter shape pencil sharpener,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,11,25,11,4,4,Low,Small
254730,568200,PADS,pads to match all cushions,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,9,25,14,6,3,Low,Small
256543,568375,BANK CHARGES,bank charges,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,9,26,17,0,3,Low,Small
192219,561226,PADS,pads to match all cushions,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,7,26,10,1,3,Low,Small
105962,550193,PADS,pads to match all cushions,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,4,15,9,4,2,Low,Small

**Task 56:** Find the 20 highest-value transactions.

In [96]:
df['Total Price'].unique()

array([ 15.3 ,  20.34,  22.  , ...,  25.08, 469.44,  66.36])

In [97]:
df.sort_values(by='Total Price',ascending=False).head(20)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
392226,581483,23843,"paper craft , little birdie",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,4,4,High,Large
36521,541431,23166,medium ceramic top storage jar,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,1,1,High,Large
153588,556444,22502,picnic basket wicker 60 pieces,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,4,2,High,Large
116868,551697,POST,postage,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,1,2,High,Small
246041,567423,23243,set of tea coffee sugar tins pantry,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,1,3,High,Large
108204,550461,21108,fairy cake flannel assorted colour,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,0,2,High,Large
32199,540815,21108,fairy cake flannel assorted colour,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,1,1,High,Large
304623,573003,23084,rabbit night light,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,3,4,High,Large
32197,540815,85123A,white hanging heart t-light holder,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,1,1,High,Large
108200,550461,85123A,white hanging heart t-light holder,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,0,2,High,Large
32259,540818,48185,doormat fairy cake,670,2011-01-11 12:57:00,6.75,15749,UK,4522.50,2011,1,11,12,1,1,High,Large
169598,558526,23173,regency teapot roses,540,2011-06-30 11:01:00,8.15,17949,UK,4401.00,2011,6,30,11,3,2,High,Large
108202,550461,48185,doormat fairy cake,670,2011-04-18 13:20:00,6.35,15749,UK,4254.50,2011,4,18,13,0,2,High,Large
201787,562439,84879,assorted colour bird ornament,2880,2011-08-04 18:06:00,1.45,12931,UK,4176.00,2011,8,4,18,3,3,High,Large
305341,573077,M,manual,1,2011-10-27 14:13:00,4161.06,12536,France,4161.06,2011,10,27,14,3,4,High,Small
305365,573080,M,manual,1,2011-10-27 14:20:00,4161.06,12536,France,4161.06,2011,10,27,14,3,4,High,Small
31657,540689,22470,heart of wicker large,1284,2011-01-11 08:43:00,3.21,17450,UK,4121.64,2011,1,11,8,1,1,High,Large
292020,571751,M,manual,1,2011-10-19 11:18:00,3949.32,12744,Singapore,3949.32,2011,10,19,11,2,4,High,Small
388138,581115,22413,metal sign take it or leave it,1404,2011-12-07 12:20:00,2.75,15195,UK,3861.00,2011,12,7,12,2,4,High,Large
10525,537659,21623,vintage union jack memoboard,600,2010-12-07 16:43:00,6.38,18102,UK,3828.00,2010,12,7,16,1,4,High,Large

**Task 57:** Find the 20 lowest-value transactions (excluding returns).

In [98]:
df[df['Total Price']>0].sort_values(by='Total Price').head(20)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
254730,568200,PADS,pads to match all cushions,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,9,25,14,6,3,Low,Small
105962,550193,PADS,pads to match all cushions,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,4,15,9,4,2,Low,Small
192219,561226,PADS,pads to match all cushions,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,7,26,10,1,3,Low,Small
256543,568375,BANK CHARGES,bank charges,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,9,26,17,0,3,Low,Small
364817,578757,16216,letter shape pencil sharpener,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,11,25,11,4,4,Low,Small
196908,561894,M,manual,1,2011-07-31 15:00:00,0.080,14456,UK,0.080,2011,7,31,15,6,3,Low,Small
176900,559509,17038,porcelain budah incense holder,1,2011-07-08 15:25:00,0.100,15920,UK,0.100,2011,7,8,15,4,3,Low,Small
167801,558198,17038,porcelain budah incense holder,1,2011-06-27 12:49:00,0.100,14104,UK,0.100,2011,6,27,12,0,2,Low,Small
362505,578479,17038,porcelain budah incense holder,1,2011-11-24 12:48:00,0.100,15858,UK,0.100,2011,11,24,12,3,4,Low,Small
295536,572103,16048,teatime round pencil sharpener,1,2011-10-20 15:57:00,0.120,17571,UK,0.120,2011,10,20,15,3,4,Low,Small
94732,548711,47013A,wine bottle dressing lt.blue,1,2011-04-03 14:24:00,0.120,18116,UK,0.120,2011,4,3,14,6,2,Low,Small
190318,561036,85204,hanging wood and felt flower,1,2011-07-24 11:54:00,0.120,13137,UK,0.120,2011,7,24,11,6,3,Low,Small
293073,571909,16048,teatime round pencil sharpener,1,2011-10-19 15:08:00,0.120,15006,UK,0.120,2011,10,19,15,2,4,Low,Small
110084,550651,21401,blue pudding spoon,1,2011-04-19 16:52:00,0.120,15436,UK,0.120,2011,4,19,16,1,2,Low,Small
106580,550298,20668,disco ball christmas decoration,1,2011-04-15 16:11:00,0.120,17346,UK,0.120,2011,4,15,16,4,2,Low,Small
226985,565426,85204,hanging wood and felt flower,1,2011-09-04 12:41:00,0.120,12851,UK,0.120,2011,9,4,12,6,3,Low,Small
276434,570238,16048,teatime round pencil sharpener,1,2011-10-09 15:01:00,0.120,16332,UK,0.120,2011,10,9,15,6,4,Low,Small
334062,575856,16219,house shape pencil sharpener,2,2011-11-11 12:28:00,0.060,16386,UK,0.120,2011,11,11,12,4,4,Low,Small
184362,560359,16008,small folding scissor(pointed edge),1,2011-07-18 11:47:00,0.120,14159,UK,0.120,2011,7,18,11,0,3,Low,Small
177047,559525,21402,red egg spoon,1,2011-07-10 10:30:00,0.120,16923,UK,0.120,2011,7,10,10,6,3,Low,Small

### **PART H: Aggregation and Summary Statistics**

**Task 58:** Calculate the total revenue generated across all transactions.

In [99]:
df['Total Price'].sum()

np.float64(8887208.894)

**Task 59:** Calculate the average transaction value.

In [100]:
df['Total Price'].mean()

np.float64(22.6314997351614)

**Task 60:** Find the maximum and minimum transaction values.

In [101]:
df['Total Price'].max()

168469.6

In [102]:
df['Total Price'].min()

0.001

**Task 61:** Calculate the total number of unique customers.

In [103]:
df['CustomerID'].unique().shape[0]

4338

**Task 62:** Calculate the total number of unique products sold.

In [104]:
df['ProductName'].unique().shape[0]

3877

**Task 63:** Find out how many unique countries are represented in the data.

In [105]:
df['Country'].unique().shape[0]

37

**Task 64:** Calculate the average number of items per transaction.

In [106]:
df.groupby('InvoiceNo')['Quantity'].sum().mean()

np.float64(278.00571983595944)

**Task 65:** Find which product appears most frequently in transactions.

In [107]:
df['ProductName'].value_counts().head(1)

ProductName
white hanging heart t-light holder    2016
Name: count, dtype: int64

### **PART I: Country-wise Analysis**

**Task 66:** Calculate total revenue for each country.

In [108]:
df.groupby('Country')['Total Price'].sum()

Country
Australia                138453.810
Austria                   10198.680
Bahrain                     548.400
Belgium                   41196.340
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20440.540
Cyprus                    13502.850
Czech Republic              826.740
Denmark                   18955.340
European Community         1300.250
Finland                   22546.080
France                   208934.310
Germany                  228678.400
Greece                     4760.520
Iceland                    4310.000
Ireland                  265262.460
Israel                     7215.840
Italy                     17483.240
Japan                     37416.370
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2725.590
Netherlands              285446.340
Norway                    36165.440
Poland                     7334.650
Portugal                  33375.840
RSA                        1002.310
Saudi Arabia                145.920
Singapore                 21279.290
Spain                     61558.560
Sweden                    38367.830
Switzerland               56443.950
UK                      7285024.644
USA                        3580.390
United Arab Emirates       1902.280
Unspecified                2660.770
Name: Total Price, dtype: float64

**Task 67:** Find the top 10 countries by total revenue.

In [109]:
df.groupby('Country')['Total Price'].sum().head(10)

Country
Australia          138453.81
Austria             10198.68
Bahrain               548.40
Belgium             41196.34
Brazil               1143.60
Canada               3666.38
Channel Islands     20440.54
Cyprus              13502.85
Czech Republic        826.74
Denmark             18955.34
Name: Total Price, dtype: float64

**Task 68:** Calculate the number of transactions per country.

In [110]:
df['Country'].value_counts()

Country
UK                      349203
Germany                   9025
France                    8326
Ireland                   7226
Spain                     2479
Netherlands               2359
Belgium                   2031
Switzerland               1841
Portugal                  1453
Australia                 1181
Norway                    1071
Italy                      758
Channel Islands            747
Finland                    685
Cyprus                     603
Sweden                     450
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     245
Unspecified                241
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         57
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     17
Saudi Arabia                 9
Name: count, dtype: int64

**Task 69:** Calculate the average transaction value for each country.

In [111]:
df.groupby('Country')['Total Price'].mean()

Country
Australia               117.234386
Austria                  25.624824
Bahrain                  32.258824
Belgium                  20.283772
Brazil                   35.737500
Canada                   24.280662
Channel Islands          27.363507
Cyprus                   22.392786
Czech Republic           33.069600
Denmark                  49.882474
European Community       21.670833
Finland                  32.913985
France                   25.094200
Germany                  25.338327
Greece                   32.831172
Iceland                  23.681319
Ireland                  36.709446
Israel                   29.452408
Italy                    23.064960
Japan                   116.561900
Lebanon                  37.641778
Lithuania                47.458857
Malta                    24.335625
Netherlands             121.003111
Norway                   33.767918
Poland                   22.226212
Portugal                 22.970296
RSA                      17.584386
Saudi Arabia             16.213333
Singapore                95.852658
Spain                    24.832013
Sweden                   85.261844
Switzerland              30.659397
UK                       20.861862
USA                      20.002179
United Arab Emirates     27.974706
Unspecified              11.040539
Name: Total Price, dtype: float64

**Task 70:** Find which country has the highest average order value.

In [112]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium
392688,581587,22899,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium
392689,581587,23254,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392690,581587,23255,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392691,581587,22138,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small

In [113]:
df.groupby('Country')['Total Price'].mean().head(1)

Country
Australia    117.234386
Name: Total Price, dtype: float64

**Task 71:** Calculate the total quantity of products sold to each country.

In [114]:
df.groupby('Country')['Quantity'].sum()

Country
Australia                 83891
Austria                    4881
Bahrain                     260
Belgium                   23237
Brazil                      356
Canada                     2763
Channel Islands            9485
Cyprus                     6340
Czech Republic              671
Denmark                    8235
European Community          499
Finland                   10704
France                   111428
Germany                  119154
Greece                     1557
Iceland                    2458
Ireland                  140133
Israel                     4043
Italy                      8112
Japan                     26016
Lebanon                     386
Lithuania                   652
Malta                       970
Netherlands              200361
Norway                    19336
Poland                     3684
Portugal                  16095
RSA                         351
Saudi Arabia                 80
Singapore                  5241
Spain                     27933
Sweden                    36078
Switzerland               30082
UK                      4241305
USA                        2458
United Arab Emirates        982
Unspecified                1785
Name: Quantity, dtype: int64

**Task 72:** Find the country with the most unique customers.

In [115]:
df.groupby('Country')['CustomerID'].nunique()

Country
Australia                  9
Austria                   11
Bahrain                    2
Belgium                   25
Brazil                     1
Canada                     4
Channel Islands            9
Cyprus                     8
Czech Republic             1
Denmark                    9
European Community         1
Finland                   12
France                    87
Germany                   94
Greece                     4
Iceland                    1
Ireland                    3
Israel                     3
Italy                     14
Japan                      8
Lebanon                    1
Lithuania                  1
Malta                      2
Netherlands                9
Norway                    10
Poland                     6
Portugal                  19
RSA                        1
Saudi Arabia               1
Singapore                  1
Spain                     30
Sweden                     8
Switzerland               21
UK                      3920
USA                        4
United Arab Emirates       2
Unspecified                4
Name: CustomerID, dtype: int64

### **PART J: Time-based Analysis**

**Task 73:** Calculate total revenue for each month.

In [116]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium
392688,581587,22899,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium
392689,581587,23254,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392690,581587,23255,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392691,581587,22138,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small

In [117]:
df.groupby('Month')['Total Price'].sum()

Month
1      568101.310
2      446084.920
3      594081.760
4      468374.331
5      677355.150
6      660046.050
7      598962.901
8      644051.040
9      950690.202
10    1035642.450
11    1156205.610
12    1087613.170
Name: Total Price, dtype: float64

**Task 74:** Find which month had the highest sales.

In [118]:
df.groupby('Month')['Total Price'].sum().sort_values().tail(1)

Month
11    1156205.61
Name: Total Price, dtype: float64

**Task 75:** Calculate revenue for each quarter.

In [119]:
df.groupby('Quarter')['Total Price'].sum()

Quarter
1    1608267.990
2    1805775.531
3    2193704.143
4    3279461.230
Name: Total Price, dtype: float64

**Task 76:** Calculate the number of transactions per day of the week.

In [120]:
df.groupby('Day of Week ')['Total Price'].sum()

Day of Week
0    1363604.401
1    1697733.801
2    1584283.830
3    1973015.730
4    1483080.811
6     785490.321
Name: Total Price, dtype: float64

**Task 77:** Find which day of the week has the highest average revenue.

In [121]:
df.groupby('Day of Week ')['Total Price'].sum().sort_values().tail(1)

Day of Week
3    1973015.73
Name: Total Price, dtype: float64

**Task 78:** Calculate hourly sales patterns (revenue by hour of day).

In [122]:
df.groupby('Hour')['Total Price'].sum()

Hour
6           4.250
7       31059.210
8      281997.790
9      842392.341
10    1259267.591
11    1101177.600
12    1373695.390
13    1168724.200
14     991992.821
15     963559.680
16     467380.560
17     233811.591
18     104744.990
19      48568.400
20      18832.480
Name: Total Price, dtype: float64

**Task 79:** Compare sales between 2010 and 2011.

In [123]:
df[df['Year'].isin([2010,2011])]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium
392688,581587,22899,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium
392689,581587,23254,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392690,581587,23255,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392691,581587,22138,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small

**Task 80:** Calculate month-over-month revenue growth rate.

In [124]:
df.groupby('Month')['Total Price'].sum().pct_change()

Month
1          NaN
2    -0.214779
3     0.331768
4    -0.211600
5     0.446183
6    -0.025554
7    -0.092544
8     0.075277
9     0.476110
10    0.089358
11    0.116414
12   -0.059325
Name: Total Price, dtype: float64

### **PART K: Customer Analysis**

**Task 81:** Calculate total spending for each customer.

In [125]:
df.groupby('CustomerID')['Total Price'].sum()

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2045.53
18287     1837.28
Name: Total Price, Length: 4338, dtype: float64

**Task 82:** Find the top 20 customers by total spending.

In [126]:
df.groupby('CustomerID')['Total Price'].sum().sort_values(ascending=False).head(20)

CustomerID
14646    280206.02
18102    259657.30
17450    194390.79
16446    168472.50
14911    143711.17
12415    124914.53
14156    117210.08
17511     91062.38
16029     80850.84
12346     77183.60
16684     66653.56
14096     65164.79
13694     65039.62
15311     60632.75
13089     58762.08
17949     58510.48
15769     56252.72
15061     54534.14
14298     51527.30
14088     50491.81
Name: Total Price, dtype: float64

**Task 83:** Calculate the number of transactions per customer.

In [127]:
df.groupby('CustomerID')['InvoiceNo'].nunique()

CustomerID
12346     1
12347     7
12348     4
12349     1
12350     1
         ..
18280     1
18281     1
18282     2
18283    16
18287     3
Name: InvoiceNo, Length: 4338, dtype: int64

**Task 84:** Find the average order value for each customer.

In [128]:
df.groupby('CustomerID')['Total Price'].mean()

CustomerID
12346    77183.600000
12347       23.681319
12348       57.975484
12349       24.076027
12350       19.670588
             ...
18280       18.060000
18281       11.545714
18282       14.837500
18283        2.837074
18287       26.246857
Name: Total Price, Length: 4338, dtype: float64

In [129]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium
392688,581587,22899,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium
392689,581587,23254,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392690,581587,23255,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392691,581587,22138,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small

**Task 85:** Identify customers who have made only one purchase.

In [130]:
a=df.groupby('CustomerID')['InvoiceNo'].nunique()==1
a[a]

CustomerID
12346    True
12349    True
12350    True
12353    True
12354    True
         ...
18276    True
18277    True
18278    True
18280    True
18281    True
Name: InvoiceNo, Length: 1493, dtype: bool

**Task 86:** Find customers who spent more than Â£10,000 in total.

In [131]:
df[df['Total Price']>10000][['CustomerID','Total Price']]

        CustomerID  Total Price
36521        12346      77183.6
153588       15098      38970.0
392226       16446     168469.6

**Task 87:** Calculate the average number of days between purchases for each customer.


### **PART L: Product Analysis**

**Task 88:** Find the top 20 products by revenue.

In [132]:
df.groupby('ProductName')['Total Price'].sum().sort_values(ascending=False).head(20)

ProductName
paper craft , little birdie           168469.60
regency cakestand 3 tier              142264.75
white hanging heart t-light holder    100392.10
jumbo bag red retrospot                85040.54
medium ceramic top storage jar         81416.73
postage                                77803.96
party bunting                          68785.23
assorted colour bird ornament          56413.03
manual                                 53419.93
rabbit night light                     51251.24
chilli lights                          46265.11
paper chain kit 50's christmas         42584.13
picnic basket wicker 60 pieces         39619.50
black record cover frame               39045.80
jumbo bag pink polkadot                37254.36
doormat keep calm and come in          35880.85
spotty bunting                         35509.55
wood black board ant white finish      34414.71
set of 3 cake tins pantry design       33298.30
jam making set with jars               32616.22
Name: Total Price, dtype: float64

**Task 89:** Find the top 20 products by quantity sold.

In [133]:
df.groupby('ProductName')['Quantity'].sum().sort_values(ascending=False).head(20)

ProductName
paper craft , little birdie           80995
medium ceramic top storage jar        77916
world war 2 gliders asstd designs     54319
jumbo bag red retrospot               46078
white hanging heart t-light holder    36706
assorted colour bird ornament         35263
pack of 72 retrospot cake cases       33670
popcorn holder                        30919
rabbit night light                    27153
mini paint set vintage                26076
pack of 12 london tissues             25329
pack of 60 pink paisley cake cases    24230
brocade ring purse                    22927
victorian glass hanging t-light       22404
assorted colours silk fan             21876
red  harmonica in box                 20945
jumbo bag pink polkadot               20148
small popcorn holder                  18241
60 teatime fairy cake cases           17664
lunch bag red retrospot               17576
Name: Quantity, dtype: int64

**Task 90:** Calculate the average price for each product.

In [134]:
df.groupby('ProductName')['Total Price'].mean()

ProductName
 4 purple flock dinner candles       7.180000
 50's christmas gift bag large      20.846330
 dolly girl beaker                  20.403704
 i love london mini backpack        21.012319
 i love london mini rucksack         4.150000
                                      ...
zinc t-light holder stars small     16.302437
zinc top  2 door wooden shelf       18.833333
zinc willie winkie  candle stick    11.393194
zinc wire kitchen organiser         13.066667
zinc wire sweetheart letter tray    12.662000
Name: Total Price, Length: 3877, dtype: float64

**Task 91:** Find products that have been sold to more than 10 different countries.

In [135]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium
392688,581587,22899,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium
392689,581587,23254,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392690,581587,23255,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392691,581587,22138,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small

In [136]:
a=df.groupby('ProductName')['Country'].count()
a[a>10]

ProductName
 4 purple flock dinner candles       37
 50's christmas gift bag large      109
 dolly girl beaker                  135
 i love london mini backpack         69
 nine drawer office tidy             30
                                   ...
zinc t-light holder star large      149
zinc t-light holder stars small     238
zinc willie winkie  candle stick    191
zinc wire kitchen organiser          12
zinc wire sweetheart letter tray     20
Name: Country, Length: 2896, dtype: int64

**Task 92:** Identify the most expensive and cheapest products.

In [137]:
df.groupby('ProductName')['Total Price'].max().sort_values(ascending=False).head(1)

ProductName
paper craft , little birdie    168469.6
Name: Total Price, dtype: float64

In [138]:
df.groupby('ProductName')['Total Price'].min().sort_values().head(1)

ProductName
bank charges    0.001
Name: Total Price, dtype: float64

### **PART M: Advanced Grouping**


**Task 93:** Calculate total revenue by Country and Year.

In [139]:
df.groupby(['Country','Year'])['Total Price'].sum()

Country               Year
Australia             2010        965.350
                      2011     137488.460
Austria               2010        277.200
                      2011       9921.480
Bahrain               2011        548.400
Belgium               2010       1809.910
                      2011      39386.430
Brazil                2011       1143.600
Canada                2011       3666.380
Channel Islands       2010        363.530
                      2011      20077.010
Cyprus                2010       1587.070
                      2011      11915.780
Czech Republic        2011        826.740
Denmark               2010       1281.500
                      2011      17673.840
European Community    2011       1300.250
Finland               2010        892.800
                      2011      21653.280
France                2010       9616.310
                      2011     199318.000
Germany               2010      15205.740
                      2011     213472.660
Greece                2011       4760.520
Iceland               2010        711.790
                      2011       3598.210
Ireland               2010       8813.880
                      2011     256448.580
Israel                2011       7215.840
Italy                 2010        811.500
                      2011      16671.740
Japan                 2010       7705.070
                      2011      29711.300
Lebanon               2011       1693.880
Lithuania             2010       1661.060
Malta                 2011       2725.590
Netherlands           2010       8784.480
                      2011     276661.860
Norway                2010       3787.120
                      2011      32378.320
Poland                2010        248.160
                      2011       7086.490
Portugal              2010       2439.970
                      2011      30935.870
RSA                   2011       1002.310
Saudi Arabia          2011        145.920
Singapore             2011      21279.290
Spain                 2010       1843.730
                      2011      59714.830
Sweden                2010       3834.300
                      2011      34533.530
Switzerland           2010       1304.920
                      2011      55139.030
UK                    2010     496477.340
                      2011    6788547.304
USA                   2011       3580.390
United Arab Emirates  2011       1902.280
Unspecified           2011       2660.770
Name: Total Price, dtype: float64

**Task 94:** Calculate average transaction value by Country and Quarter.

In [140]:
df.groupby(['Country','Quarter'])['Total Price'].mean()

Country               Quarter
Australia             1          126.349136
                      2          130.685743
                      3           88.479103
                      4          136.336559
Austria               1           57.089231
                                    ...
USA                   4           20.359490
United Arab Emirates  1           29.641333
                      3           26.658947
Unspecified           2           18.577222
                      3            7.829645
Name: Total Price, Length: 117, dtype: float64

**Task 95:** Find the number of transactions by Country and Month.

In [141]:
df.groupby(['Country','Month'])['InvoiceNo'].count()

Country      Month
Australia    1        127
             2         89
             3        108
             4         18
             5        116
                     ...
Unspecified  4         16
             5         47
             6          9
             7        146
             8         23
Name: InvoiceNo, Length: 271, dtype: int64

**Task 96:** Calculate total revenue by Day of Week and Hour.

In [142]:
df.groupby(['Day of Week ','Hour'])['InvoiceNo'].count()

Day of Week   Hour
0             7          61
              8        1563
              9        4345
              10       6106
              11       7401
                      ...
6             12      13093
              13      11403
              14       9588
              15       9887
              16       3809
Name: InvoiceNo, Length: 73, dtype: int64

**Task 97:** For each country, calculate the sum, mean, maximum, and minimum TotalPrice.

In [143]:
df.pivot_table(index='Country',values='Total Price' ,aggfunc=['sum','mean','max','min'])

                              sum        mean         max         min
                      Total Price Total Price Total Price Total Price
Country
Australia              138453.810  117.234386     1718.40       0.420
Austria                 10198.680   25.624824      360.00       2.880
Bahrain                   548.400   32.258824      120.00      11.600
Belgium                 41196.340   20.283772      165.00       2.500
Brazil                   1143.600   35.737500      175.20      15.000
Canada                   3666.380   24.280662      550.94       2.500
Channel Islands         20440.540   27.363507      408.00       4.560
Cyprus                  13502.850   22.392786      320.69       0.830
Czech Republic            826.740   33.069600       70.80      10.080
Denmark                 18955.340   49.882474      428.40       4.680
European Community       1300.250   21.670833       60.00       7.800
Finland                 22546.080   32.913985      551.20       2.340
France                 208934.310   25.094200     4161.06       0.290
Germany                228678.400   25.338327      876.00       0.390
Greece                   4760.520   32.831172      175.20       3.360
Iceland                  4310.000   23.681319      249.60       5.040
Ireland                265262.460   36.709446     2365.20       1.250
Israel                   7215.840   29.452408      350.40       0.950
Italy                   17483.240   23.064960      300.00       2.880
Japan                   37416.370  116.561900     3794.40       0.290
Lebanon                  1693.880   37.641778      153.00      10.200
Lithuania                1661.060   47.458857      122.40      13.200
Malta                    2725.590   24.335625      455.00       2.280
Netherlands            285446.340  121.003111     4992.00       0.390
Norway                  36165.440   33.767918      700.00       2.880
Poland                   7334.650   22.226212      120.00       6.600
Portugal                33375.840   22.970296     1241.98       0.290
RSA                      1002.310   17.584386       38.25       5.040
Saudi Arabia              145.920   16.213333       19.80       5.040
Singapore               21279.290   95.852658     3949.32       2.340
Spain                   61558.560   24.832013     1350.00       0.210
Sweden                  38367.830   85.261844     1188.00       5.040
Switzerland             56443.950   30.659397      360.00       2.000
UK                    7285024.644   20.861862   168469.60       0.001
USA                      3580.390   20.002179       81.36       1.250
United Arab Emirates     1902.280   27.974706      153.00       3.480
Unspecified              2660.770   11.040539       69.36       0.190

**Task 98:** For each customer, calculate their total spending, number of orders, and average order value.

**Task 99:** For each product, calculate total quantity sold and total revenue generated.

In [144]:
df.pivot_table(
    index='ProductName',
    values=['Quantity', 'Total Price'],
    aggfunc='sum'
)

                                  Quantity  Total Price
ProductName
 4 purple flock dinner candles         138       265.66
 50's christmas gift bag large        1885      2272.25
 dolly girl beaker                    2394      2754.50
 i love london mini backpack           359      1449.85
 i love london mini rucksack             1         4.15
...                                    ...          ...
zinc t-light holder stars small       4894      3879.98
zinc top  2 door wooden shelf           10       169.50
zinc willie winkie  candle stick      2606      2176.10
zinc wire kitchen organiser             25       156.80
zinc wire sweetheart letter tray        80       253.24

[3877 rows x 2 columns]

### **PART N: Creating Summary Reports**

**Task 100:** Create a summary table showing monthly sales for each country (countries as rows, months as columns).

In [145]:
df.pivot_table(index='Country',columns='Month',values='Total Price',aggfunc='sum')

Month,1,2,3,4,5,6,7,8,9,10,11,12
Country,,,,,,,,,,,,
Australia,9017.71,14695.42,17223.99,771.600,13638.41,25187.77,4964.380,22489.20,5106.730,17150.53,7242.72,965.35
Austria,NaN,518.36,1708.12,680.780,1249.43,NaN,1191.950,1516.08,NaN,1043.78,1329.78,960.40
Bahrain,NaN,NaN,NaN,NaN,548.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belgium,1200.20,2181.07,3351.98,1989.480,2732.40,4274.82,2475.570,3554.02,4208.020,5685.38,6315.76,3227.64
Brazil,NaN,NaN,NaN,1143.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Canada,NaN,NaN,140.54,NaN,534.24,1171.46,1768.580,51.56,NaN,NaN,NaN,NaN
Channel Islands,675.58,1784.71,3509.33,293.000,1207.24,2060.03,NaN,4886.88,1323.750,2623.32,1514.77,561.93
Cyprus,547.50,4334.24,938.39,NaN,NaN,1109.32,NaN,NaN,196.350,4350.32,439.66,1587.07
Czech Republic,NaN,549.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,277.48,NaN,NaN
Denmark,NaN,399.22,3978.99,NaN,515.70,3261.15,376.240,213.15,4570.160,1490.76,2699.57,1450.40
European Community,NaN,NaN,NaN,191.400,NaN,432.05,676.800,NaN,NaN,NaN,NaN,NaN
Finland,889.02,205.16,5936.82,1688.920,NaN,329.56,2996.730,1376.50,1105.450,2822.12,3070.24,2125.56
France,17740.12,8515.96,14584.95,5529.610,17606.48,16078.97,10000.190,13810.96,23428.040,33471.05,31274.75,16893.23
Germany,16880.84,9581.05,14392.69,12315.540,25734.70,13246.35,16440.980,19220.77,18079.470,31628.42,27967.68,23189.91
Greece,2661.24,NaN,387.31,609.740,NaN,NaN,421.240,NaN,NaN,NaN,NaN,680.99
Iceland,475.39,NaN,NaN,636.250,NaN,382.52,NaN,584.91,NaN,1294.32,NaN,936.61
Ireland,21904.19,10111.52,21674.36,7570.500,15977.15,19835.99,40854.150,16957.83,40832.640,24302.92,29448.41,15792.80
Israel,NaN,779.10,NaN,NaN,NaN,NaN,1430.750,4873.81,NaN,132.18,NaN,NaN
Italy,2402.51,256.00,1806.81,737.830,587.45,202.07,147.100,1990.95,279.800,3489.69,4571.08,1011.95
Japan,NaN,5780.81,48.90,6548.500,1351.45,1607.04,3854.400,NaN,112.080,1948.04,8460.08,7705.07
Lebanon,1693.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1661.06
Malta,NaN,NaN,NaN,NaN,NaN,863.16,NaN,1119.00,NaN,NaN,743.43,NaN
Netherlands,26611.16,23011.91,22416.49,2976.560,29185.88,26858.09,26.020,40327.81,26937.260,40708.65,25874.01,20512.50
Norway,NaN,630.90,1265.31,NaN,NaN,5886.86,890.070,2025.81,8678.940,3687.23,6527.50,6572.82
Poland,613.22,604.05,317.78,705.840,1522.37,343.65,687.300,401.80,529.250,NaN,1361.23,248.16
Portugal,4055.71,1213.90,2660.85,1687.750,4202.23,884.46,2287.850,1221.40,1433.220,5877.01,2603.30,5248.16
RSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1002.31,NaN,NaN
Saudi Arabia,NaN,145.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Singapore,2053.07,NaN,NaN,8209.580,NaN,NaN,3949.320,NaN,NaN,7067.32,NaN,NaN
Spain,10086.09,2114.50,5363.15,1785.650,3257.60,3333.21,7620.770,3342.41,5189.240,8636.94,8669.06,2159.94
Sweden,3486.32,509.50,4720.58,809.100,2681.98,832.00,6802.090,1390.36,4575.210,5766.16,2722.23,4072.30
Switzerland,4231.23,2654.92,1870.23,2076.940,3610.01,7904.15,3762.650,4969.89,8284.860,7655.19,8118.96,1304.92
UK,440876.33,354618.20,465784.19,408733.111,550359.35,523775.59,484545.591,497194.91,794806.692,821220.13,975251.39,967859.16
USA,NaN,NaN,NaN,383.950,NaN,NaN,NaN,NaN,NaN,2311.20,NaN,885.24
United Arab Emirates,NaN,889.24,NaN,NaN,NaN,NaN,NaN,NaN,1013.040,NaN,NaN,NaN
Unspecified,NaN,NaN,NaN,299.100,852.68,185.78,792.180,531.03,NaN,NaN,NaN,NaN

In [146]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium
392688,581587,22899,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium
392689,581587,23254,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392690,581587,23255,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392691,581587,22138,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small

**Task 101:** Create a summary showing average quantity purchased by country and quarter.

In [147]:
df.pivot_table(index='Country',columns='Quarter',values='Quantity',aggfunc='mean')

Quarter                        1           2          3          4
Country
Australia              76.429012   83.184818  59.692935  64.279570
Austria                33.948718   10.220779   9.531469  10.122302
Bahrain                      NaN   15.294118        NaN        NaN
Belgium                10.943452   10.663286  11.298419  12.336207
Brazil                       NaN   11.125000        NaN        NaN
Canada                  8.800000   27.517241  13.000000        NaN
Channel Islands        14.855856    9.330645  13.563725  11.487310
Cyprus                 15.181818    7.574468  33.000000   7.794030
Czech Republic         23.066667         NaN        NaN  32.500000
Denmark                28.282051   15.296000  27.683544  22.138686
European Community           NaN    5.290323  11.551724        NaN
Finland                14.523207   18.396226  14.016949  17.458716
France                 14.319975   14.233399  12.955718  12.764706
Germany                12.749697   14.133297  12.878070  13.132771
Greece                 15.092593    8.451613  10.166667   6.555556
Iceland                10.862069   16.166667  12.590909  13.337079
Ireland                21.918970   17.206720  23.000439  16.282892
Israel                 17.875000         NaN  18.489899   3.096774
Italy                   9.411765   17.727273  10.491379  10.443864
Japan                  29.900990  172.765625  57.488372  83.778761
Lebanon                 8.577778         NaN        NaN        NaN
Lithuania                    NaN         NaN        NaN  18.628571
Malta                        NaN    8.933333   6.945455  15.500000
Netherlands            85.060956   73.619893  88.293561  91.773071
Norway                  8.200000   12.102410  17.917683  21.070881
Poland                 12.048387   10.263636   9.202532  13.683544
Portugal               14.802768    8.229268  16.475490   8.965563
RSA                          NaN         NaN        NaN   6.157895
Saudi Arabia            8.888889         NaN        NaN        NaN
Singapore              19.482143   24.368421  28.800000  17.676471
Spain                  10.692194   10.363874  11.533632  12.013351
Sweden                108.074074   40.306818  89.000000  80.786667
Switzerland            15.943574   20.014085  15.158974  15.503436
UK                     12.943920   12.176077  13.063251  11.255354
USA                          NaN    6.227273        NaN  14.783439
United Arab Emirates   16.533333         NaN  12.789474        NaN
Unspecified                  NaN   14.083333   4.562130        NaN

**Task 102:** Create a table showing the count of transactions in each RevenueCategory by Country.

In [148]:
df.pivot_table(index='RevenueCategory',values='InvoiceNo',aggfunc='count')

                 InvoiceNo
RevenueCategory
High                 12872
Low                 170009
Medium              209811


### **PART O: Data Transformation**

**Task 103:** Add a column to each row showing what percentage of the monthly total revenue that transaction represents.

In [149]:
monthly_total = df.groupby('Month')['Total Price'].transform('sum')

df['Monthly Revenue %'] = (df['Total Price'] / monthly_total) * 100

In [150]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize,Monthly Revenue %
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium,0.001407
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,0.001870
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium,0.002023
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,0.001870
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,0.001870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium,0.000938
392688,581587,22899,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium,0.001159
392689,581587,23254,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,0.001526
392690,581587,23255,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,0.001526
392691,581587,22138,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small,0.001365

**Task 104:** Add a column showing each customer's ranking based on their total spending.

In [151]:
df['Customer Rank'] = (
    df.groupby('CustomerID')['Total Price']
      .transform('sum')
      .rank(ascending=False, method='dense')
      .astype(int)
)

**Task 105:** Add a column showing the cumulative revenue over time.


---

### **PART P: Combining Analysis**

**Task 106:** Split the dataset into two parts: 2010 data and 2011 data. Then combine them back together vertically.

In [152]:
df_2010=df[df['InvoiceDate'].dt.year==2010]
df_2010

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize,Monthly Revenue %,Customer Rank
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium,0.001407,248
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,0.001870,248
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium,0.002023,248
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,0.001870,248
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,0.001870,248
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25665,539988,84380,set of 3 butterfly cookie cutters,1,2010-12-23 16:06:00,1.25,18116,UK,1.25,2010,12,23,16,3,4,Low,Small,0.000115,1259
25666,539988,84849D,hot baths soap holder,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,12,23,16,3,4,Low,Small,0.000155,1259
25667,539988,84849B,fairy soap soap holder,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,12,23,16,3,4,Low,Small,0.000155,1259
25668,539988,22854,cream sweetheart egg holder,2,2010-12-23 16:06:00,4.95,18116,UK,9.90,2010,12,23,16,3,4,Low,Small,0.000910,1259
25669,539988,47559B,tea time oven glove,2,2010-12-23 16:06:00,1.25,18116,UK,2.50,2010,12,23,16,3,4,Low,Small,0.000230,1259

In [153]:
df_2011=df[df['InvoiceDate'].dt.year==2011]
df_2011

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize,Monthly Revenue %,Customer Rank
25670,539993,22386,jumbo bag pink polkadot,10,2011-01-04 10:00:00,1.95,13313,UK,19.50,2011,1,4,10,1,1,Medium,Medium,0.003432,1154
25671,539993,21499,blue polkadot wrap,25,2011-01-04 10:00:00,0.42,13313,UK,10.50,2011,1,4,10,1,1,Medium,Large,0.001848,1154
25672,539993,21498,red retrospot wrap,25,2011-01-04 10:00:00,0.42,13313,UK,10.50,2011,1,4,10,1,1,Medium,Large,0.001848,1154
25673,539993,22379,recycling bag retrospot,5,2011-01-04 10:00:00,2.10,13313,UK,10.50,2011,1,4,10,1,1,Medium,Medium,0.001848,1154
25674,539993,20718,red retrospot shopper bag,10,2011-01-04 10:00:00,1.25,13313,UK,12.50,2011,1,4,10,1,1,Medium,Medium,0.002200,1154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium,0.000938,1826
392688,581587,22899,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium,0.001159,1826
392689,581587,23254,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,0.001526,1826
392690,581587,23255,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,0.001526,1826
392691,581587,22138,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small,0.001365,1826

In [154]:
df_combined=pd.concat([df_2010,df_2011],axis=0)
df_combined

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize,Monthly Revenue %,Customer Rank
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium,0.001407,248
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,0.001870,248
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium,0.002023,248
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,0.001870,248
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,0.001870,248
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium,0.000938,1826
392688,581587,22899,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium,0.001159,1826
392689,581587,23254,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,0.001526,1826
392690,581587,23255,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,0.001526,1826
392691,581587,22138,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small,0.001365,1826

**Task 107:** Create separate datasets for UK and non-UK transactions. Combine them back horizontally with appropriate labeling.

In [155]:
df_uk=df[df['Country']=='UK']
df_uk['Region']='UK'
df_uk

/tmp/ipython-input-1503993597.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_uk['Region']='UK'

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize,Monthly Revenue %,Customer Rank,Region
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium,0.001407,248,UK
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,0.001870,248,UK
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium,0.002023,248,UK
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,0.001870,248,UK
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,0.001870,248,UK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392672,581585,22466,fairy tale cottage night light,12,2011-12-09 12:31:00,1.95,15804,UK,23.40,2011,12,9,12,4,4,Medium,Medium,0.002152,342,UK
392673,581586,22061,large cake stand hanging strawbery,8,2011-12-09 12:49:00,2.95,13113,UK,23.60,2011,12,9,12,4,4,Medium,Medium,0.002170,80,UK
392674,581586,23275,set of 3 hanging owls ollie beak,24,2011-12-09 12:49:00,1.25,13113,UK,30.00,2011,12,9,12,4,4,Medium,Large,0.002758,80,UK
392675,581586,21217,red retrospot round cake tins,24,2011-12-09 12:49:00,8.95,13113,UK,214.80,2011,12,9,12,4,4,High,Large,0.019750,80,UK
392676,581586,20685,doormat red retrospot,10,2011-12-09 12:49:00,7.08,13113,UK,70.80,2011,12,9,12,4,4,Medium,Medium,0.006510,80,UK

In [156]:
df_nonuk=df[df['Country']!='UK']
df_nonuk['Region']='Non UK'
df_nonuk

/tmp/ipython-input-1542681490.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nonuk['Region']='Non UK'

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize,Monthly Revenue %,Customer Rank,Region
26,536370,22728,alarm clock bakelike pink,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,2,4,Medium,Large,0.008275,154,Non UK
27,536370,22727,alarm clock bakelike red,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,2,4,Medium,Large,0.008275,154,Non UK
28,536370,22726,alarm clock bakelike green,12,2010-12-01 08:45:00,3.75,12583,France,45.00,2010,12,1,8,2,4,Medium,Medium,0.004138,154,Non UK
29,536370,21724,panda and bunnies sticker sheet,12,2010-12-01 08:45:00,0.85,12583,France,10.20,2010,12,1,8,2,4,Medium,Medium,0.000938,154,Non UK
30,536370,21883,stars gift tape,24,2010-12-01 08:45:00,0.65,12583,France,15.60,2010,12,1,8,2,4,Medium,Large,0.001434,154,Non UK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium,0.000938,1826,Non UK
392688,581587,22899,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium,0.001159,1826,Non UK
392689,581587,23254,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,0.001526,1826,Non UK
392690,581587,23255,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,0.001526,1826,Non UK
392691,581587,22138,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small,0.001365,1826,Non UK

In [157]:
pd.concat([df_uk,df_nonuk],axis=1)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,...,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize,Monthly Revenue %,Customer Rank,Region
0,536365,85123A,white hanging heart t-light holder,6.0,2010-12-01 08:26:00,2.55,17850.0,UK,15.30,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,536365,71053,white metal lantern,6.0,2010-12-01 08:26:00,3.39,17850.0,UK,20.34,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,536365,84406B,cream cupid hearts coat hanger,8.0,2010-12-01 08:26:00,2.75,17850.0,UK,22.00,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,536365,84029G,knitted union flag hot water bottle,6.0,2010-12-01 08:26:00,3.39,17850.0,UK,20.34,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,536365,84029E,red woolly hottie white heart.,6.0,2010-12-01 08:26:00,3.39,17850.0,UK,20.34,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,12.0,9.0,12.0,4.0,4.0,Medium,Medium,0.000938,1826.0,Non UK
392688,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,12.0,9.0,12.0,4.0,4.0,Medium,Medium,0.001159,1826.0,Non UK
392689,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,12.0,9.0,12.0,4.0,4.0,Medium,Small,0.001526,1826.0,Non UK
392690,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,12.0,9.0,12.0,4.0,4.0,Medium,Small,0.001526,1826.0,Non UK
392691,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,12.0,9.0,12.0,4.0,4.0,Medium,Small,0.001365,1826.0,Non UK

### **PART Q: External Data Integration**

**Task 108:** Create a new dataset with customer information (make up data):
- CustomerID, CustomerName, MembershipLevel (Bronze/Silver/Gold), JoinDate

In [158]:
df[['CustomerID','ProductName']]

        CustomerID                          ProductName
0            17850   white hanging heart t-light holder
1            17850                  white metal lantern
2            17850       cream cupid hearts coat hanger
3            17850  knitted union flag hot water bottle
4            17850       red woolly hottie white heart.
...            ...                                  ...
392687       12680          pack of 20 spaceboy napkins
392688       12680         children's apron dolly girl
392689       12680        childrens cutlery dolly girl
392690       12680      childrens cutlery circus parade
392691       12680        baking set 9 piece retrospot

[392692 rows x 2 columns]

In [171]:
customer_info = pd.DataFrame({
    'CustomerID': [17850, 13047, 12583,13298, 14569],
    'CustomerName': ['Amit Sharma', 'Priya Mehta', 'Rahul Verma', 'Sneha Iyer', 'Karan Singh'],
    'MembershipLevel': ['Gold', 'Silver', 'Bronze', 'Gold', 'Silver'],
    'JoinDate': pd.to_datetime([
        '2010-02-15',
        '2010-06-10',
        '2011-01-05',
        '2011-04-22',
        '2010-11-30'
    ])
})

customer_info

   CustomerID CustomerName MembershipLevel   JoinDate
0       17850  Amit Sharma            Gold 2010-02-15
1       13047  Priya Mehta          Silver 2010-06-10
2       12583  Rahul Verma          Bronze 2011-01-05
3       13298   Sneha Iyer            Gold 2011-04-22
4       14569  Karan Singh          Silver 2010-11-30

In [176]:

df_enriched = df.merge(
    customer_info,
    on='CustomerID',
    how='left'
)

df_enriched.head()

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,...,Hour,Day of Week,Quarter,RevenueCategory,OrderSize,Monthly Revenue %,Customer Rank,CustomerName,MembershipLevel,JoinDate
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,...,8,2,4,Medium,Medium,0.001407,248,Amit Sharma,Gold,2010-02-15
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,2,4,Medium,Medium,0.001870,248,Amit Sharma,Gold,2010-02-15
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,...,8,2,4,Medium,Medium,0.002023,248,Amit Sharma,Gold,2010-02-15
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,2,4,Medium,Medium,0.001870,248,Amit Sharma,Gold,2010-02-15
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,2,4,Medium,Medium,0.001870,248,Amit Sharma,Gold,2010-02-15

In [177]:
df['CustomerID'].nunique()

4338

**Task 110:** Create a product categories dataset (make up data):
- StockCode, Category (e.g., Home, Kitchen, Gift, etc.)

In [178]:


product_categories = pd.DataFrame({
    'StockCode': ['85123A', '71053', '84406B', '84029G', '85099B', '22720', '21730'],
    'Category': ['Home', 'Gift', 'Kitchen', 'Home', 'Gift', 'Kitchen', 'Decor']
})

product_categories

  StockCode Category
0    85123A     Home
1     71053     Gift
2    84406B  Kitchen
3    84029G     Home
4    85099B     Gift
5     22720  Kitchen
6     21730    Decor

**Task 111:** Combine the sales data with product categories to analyze which categories generate the most revenue.

In [185]:
df_category=df.merge(product_categories,on='StockCode',how='inner')
df_category

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,Month,Day,Hour,Day of Week,Quarter,RevenueCategory,OrderSize,Monthly Revenue %,Customer Rank,Category
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium,0.001407,248,Home
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,0.001870,248,Gift
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium,0.002023,248,Kitchen
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,0.001870,248,Home
4,536365,21730,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,UK,25.50,2010,12,1,8,2,4,Medium,Medium,0.002345,248,Decor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5727,581476,22720,set of 3 cake tins pantry design,16,2011-12-09 08:48:00,4.25,12433,Norway,68.00,2011,12,9,8,4,4,Medium,Medium,0.006252,68,Kitchen
5728,581480,84029G,knitted union flag hot water bottle,12,2011-12-09 09:07:00,4.25,14441,UK,51.00,2011,12,9,9,4,4,Medium,Medium,0.004689,1050,Home
5729,581486,85099B,jumbo bag red retrospot,10,2011-12-09 09:38:00,2.08,17001,UK,20.80,2011,12,9,9,4,4,Medium,Medium,0.001912,374,Gift
5730,581516,84029G,knitted union flag hot water bottle,8,2011-12-09 11:26:00,4.25,14422,UK,34.00,2011,12,9,11,4,4,Medium,Medium,0.003126,338,Home
5731,581538,85123A,cream hanging heart t-light holder,1,2011-12-09 11:34:00,2.95,14446,UK,2.95,2011,12,9,11,4,4,Low,Small,0.000271,1641,Home

**Task 112:** Perform an analysis that shows total revenue by MembershipLevel.

In [180]:
df_enriched

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price,Year,...,Hour,Day of Week,Quarter,RevenueCategory,OrderSize,Monthly Revenue %,Customer Rank,CustomerName,MembershipLevel,JoinDate
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,...,8,2,4,Medium,Medium,0.001407,248,Amit Sharma,Gold,2010-02-15
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,2,4,Medium,Medium,0.001870,248,Amit Sharma,Gold,2010-02-15
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,...,8,2,4,Medium,Medium,0.002023,248,Amit Sharma,Gold,2010-02-15
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,2,4,Medium,Medium,0.001870,248,Amit Sharma,Gold,2010-02-15
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,2,4,Medium,Medium,0.001870,248,Amit Sharma,Gold,2010-02-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,...,12,4,4,Medium,Medium,0.000938,1826,NaN,NaN,NaT
392688,581587,22899,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,...,12,4,4,Medium,Medium,0.001159,1826,NaN,NaN,NaT
392689,581587,23254,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,...,12,4,4,Medium,Small,0.001526,1826,NaN,NaN,NaT
392690,581587,23255,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,...,12,4,4,Medium,Small,0.001526,1826,NaN,NaN,NaT
392691,581587,22138,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,...,12,4,4,Medium,Small,0.001365,1826,NaN,NaN,NaT

In [181]:
df['CustomerID'].unique()

array([17850, 13047, 12583, ..., 13298, 14569, 12713])

In [182]:
df_enriched.groupby('MembershipLevel')['Total Price'].sum()

MembershipLevel
Bronze    7281.38
Gold      5751.21
Silver    3464.93
Name: Total Price, dtype: float64

**Task 113:** Show which product categories are most popular in each country.

In [190]:
df_category.groupby('Country')['Quantity'].count().sort_values(ascending=False)

Country
UK                    5311
Ireland                 93
Germany                 69
France                  54
Netherlands             32
Spain                   27
Belgium                 16
Australia               15
Portugal                15
Italy                   15
Norway                  14
Channel Islands         13
Finland                 12
Cyprus                   9
Switzerland              8
Sweden                   8
Poland                   4
Singapore                4
USA                      3
Israel                   2
Austria                  2
Malta                    2
Greece                   1
European Community       1
Lebanon                  1
RSA                      1
Name: Quantity, dtype: int64

### **PART R: NumPy Operations**

**Task 114:** Extract Quantity and UnitPrice as arrays and perform element-wise multiplication.

In [193]:
quantity = df['Quantity'].to_numpy()
unitprice= df['UnitPrice'].to_numpy()
mul=quantity*unitprice
mul

array([15.3 , 20.34, 22.  , ..., 16.6 , 16.6 , 14.85])

**Task 115:** Create an array of 1000 random transaction IDs.

In [195]:
transactionid=np.random.randint(10000,99999,1000)

In [196]:
transactionid

array([45038, 23216, 45902, 35970, 74791, 55697, 33143, 42169, 32139,
       67303, 87063, 17190, 79352, 68040, 86250, 99201, 46219, 41849,
       82785, 21198, 63919, 88777, 76042, 28908, 55236, 69400, 86249,
       51945, 76561, 40880, 45153, 86093, 34917, 14273, 30218, 14625,
       62572, 12386, 21067, 37166, 84380, 26294, 37301, 60888, 57472,
       24761, 10841, 35145, 94270, 96286, 29573, 53182, 25041, 12005,
       75375, 20972, 98228, 70840, 28315, 17441, 28699, 59590, 61398,
       62115, 60103, 43996, 20075, 14534, 66627, 51559, 37282, 25254,
       88039, 72095, 81019, 56221, 86912, 83723, 46399, 19037, 87568,
       25234, 79699, 98556, 95483, 44418, 98379, 73053, 61618, 31621,
       60064, 96293, 88924, 88202, 94525, 77571, 35768, 10363, 87011,
       63772, 50226, 39397, 27381, 50553, 66119, 30334, 74090, 33253,
       61221, 87370, 55727, 77220, 51764, 59210, 16440, 74312, 18302,
       71970, 74231, 38350, 92257, 46896, 90446, 72480, 24381, 28090,
       55210, 96362, 67473, 47393, 80314, 20014, 74986, 21075, 50505,
       99128, 45727, 61222, 59845, 94807, 79853, 15334, 61141, 30749,
       57989, 83520, 23660, 46683, 23969, 67697, 98713, 11206, 84296,
       54650, 99371, 93000, 23063, 22713, 84938, 62911, 40226, 48306,
       66438, 88035, 68340, 89544, 37927, 94306, 32759, 58456, 80304,
       64010, 13257, 12623, 81351, 68233, 43839, 10823, 27506, 64042,
       93821, 76773, 16816, 35232, 34072, 76351, 91609, 99354, 30040,
       91053, 26442, 42576, 24686, 72662, 66874, 61658, 68088, 81731,
       90915, 34526, 80770, 20058, 28928, 36195, 67095, 79732, 89083,
       18720, 54968, 30617, 24050, 60870, 73211, 40590, 72333, 29854,
       84317, 70732, 27069, 98541, 89437, 48196, 34481, 34634, 47047,
       55251, 18265, 70674, 73996, 21753, 95825, 59297, 85659, 28520,
       18538, 96054, 36502, 63550, 50497, 56756, 71030, 96855, 50794,
       21009, 18611, 30708, 67918, 53253, 62392, 38190, 73185, 94372,
       89341, 86910, 18464, 78311, 40743, 65476, 39189, 49940, 95908,
       85031, 95596, 66428, 26296, 36697, 98832, 42025, 30041, 80945,
       47592, 97165, 95288, 26569, 74518, 76508, 21322, 29585, 41570,
       68658, 77673, 63260, 16910, 15462, 13894, 10436, 59737, 84520,
       69209, 55718, 24030, 89444, 37418, 52779, 83043, 57981, 53431,
       59472, 50584, 77473, 15692, 24738, 55178, 35238, 60324, 43830,
       24325, 50510, 50350, 23670, 73606, 21301, 69910, 71480, 76061,
       31326, 17674, 77434, 58020, 95390, 40052, 54195, 47143, 33643,
       21330, 44070, 49912, 34937, 57690, 67313, 51841, 33184, 84121,
       26494, 46427, 95245, 93725, 28790, 65102, 70180, 34800, 17145,
       29571, 55928, 81130, 32289, 79227, 27503, 35271, 26821, 50440,
       52679, 17320, 21980, 89644, 90812, 53011, 98881, 78144, 65196,
       41728, 24056, 61301, 54678, 75061, 32994, 42753, 81485, 85319,
       58675, 92135, 82957, 29674, 94749, 15984, 35789, 67490, 53978,
       11318, 22125, 71251, 32657, 15864, 98734, 77682, 68949, 32091,
       80027, 96051, 66568, 76052, 78716, 87271, 33142, 68242, 40541,
       75876, 41234, 13528, 12449, 16963, 37138, 71356, 85254, 25511,
       51454, 38776, 70542, 47246, 21978, 57934, 91097, 23107, 31622,
       83873, 85277, 17989, 62811, 47964, 72030, 32114, 64330, 32356,
       65293, 18463, 65918, 63458, 33400, 31638, 44289, 51003, 46722,
       58471, 48732, 18835, 65388, 58389, 10624, 38624, 28355, 86010,
       86587, 10912, 95652, 75012, 78927, 41004, 20176, 77232, 87408,
       20356, 74376, 90502, 38939, 66103, 17721, 51807, 16576, 17239,
       37666, 68884, 30588, 98653, 49244, 27082, 36160, 27693, 44073,
       71831, 39159, 59054, 26657, 38728, 44090, 68240, 81318, 21504,
       55739, 87889, 27197, 57761, 17768, 12646, 45052, 42216, 94190,
       87718, 43182, 32929, 78437, 64035, 10439, 78596, 33811, 75769,
       34302, 18966, 21771, 63891, 77013, 13341, 69011, 81583, 74805,
       63855, 27442, 40450, 94892, 45871, 53274, 48439, 35676, 21763,
       50578, 50884, 30037, 66379, 24041, 93695, 23764, 16514, 99618,
       61452, 77764, 31439, 21248, 64264, 78810, 84407, 57741, 24162,
       33208, 25984, 58544, 70020, 91945, 10136, 59544, 87320, 40437,
       88783, 34881, 66655, 97009, 76924, 65976, 95934, 88373, 30346,
       34327, 45131, 33962, 11814, 96287, 41390, 64276, 91134, 78288,
       64427, 95799, 57919, 60454, 24865, 45699, 53574, 47151, 87678,
       84709, 16859, 48084, 96348, 50636, 97973, 42999, 34204, 19128,
       75468, 37877, 22000, 49562, 75296, 14283, 31684, 65694, 42210,
       88973, 79073, 65315, 43937, 76505, 75397, 83652, 48761, 93589,
       61446, 93793, 55019, 41199, 10515, 46135, 97505, 57166, 80660,
       14799, 70775, 63196, 73811, 89040, 56551, 94044, 48865, 97853,
       16099, 56451, 45368, 98284, 40710, 76582, 88480, 18400, 35673,
       72908, 30249, 64072, 12361, 30176, 36271, 95644, 57035, 75218,
       50316, 38965, 71821, 39709, 76715, 74927, 40033, 19690, 17263,
       47078, 90415, 64605, 46809, 41662, 39517, 82949, 18801, 66820,
       12357, 79291, 28876, 21034, 91615, 34779, 11667, 11574, 56964,
       95252, 23476, 82121, 69388, 49745, 73107, 50981, 23391, 45276,
       23717, 21167, 46812, 71318, 57577, 30562, 83276, 21870, 11583,
       62396, 61197, 37945, 87745, 32198, 71983, 44886, 39947, 94384,
       75318, 70349, 62941, 24522, 54169, 82512, 30177, 83612, 69172,
       63357, 64980, 21152, 10921, 14348, 35528, 34089, 11019, 72678,
       76256, 68744, 20380, 96508, 21800, 40527, 86365, 99972, 69140,
       96721, 51415, 70180, 30806, 16693, 59376, 66207, 61839, 37179,
       63621, 78787, 36454, 26883, 25659, 29462, 77501, 48844, 67025,
       83503, 51532, 58105, 83695, 47508, 48909, 33476, 44409, 36159,
       30754, 87576, 72725, 45440, 27552, 71329, 64768, 79559, 56594,
       55012, 64718, 13234, 14593, 55308, 23572, 17957, 90871, 18549,
       73973, 83287, 61410, 39731, 38111, 80284, 46762, 98349, 22195,
       13910, 46890, 53371, 71634, 31257, 89523, 15498, 94269, 42032,
       44476, 89827, 19721, 67421, 82787, 79209, 86017, 75563, 94473,
       22547, 82539, 62337, 94465, 11594, 52836, 86848, 40947, 45957,
       39387, 43375, 37949, 36461, 26010, 76615, 50760, 31495, 67881,
       47533, 73913, 63486, 22956, 41252, 63275, 56493, 65640, 27086,
       37038, 46088, 23627, 35603, 46983, 55787, 72752, 55342, 43809,
       35671, 17488, 74012, 93131, 74683, 63685, 91059, 59673, 51740,
       60219, 64273, 55455, 75916, 84012, 78185, 14307, 34933, 80902,
       50721, 60618, 52401, 89299, 70358, 10838, 95250, 83393, 97446,
       83787, 33076, 45560, 58846, 67945, 89601, 67593, 23147, 16188,
       67584, 77950, 74095, 14826, 28699, 13067, 16829, 32777, 22318,
       41260, 68165, 81502, 70390, 58561, 89318, 97631, 35234, 54343,
       22972, 62258, 59703, 27827, 35349, 44401, 67605, 98322, 44408,
       52269, 91747, 23508, 49805, 63840, 98246, 42375, 47477, 79822,
       27967, 65892, 21722, 99219, 37700, 64288, 93428, 19599, 51662,
       57124, 52108, 87221, 98594, 25452, 55382, 43764, 86291, 40473,
       83176, 18914, 14586, 42605, 12585, 93600, 54636, 74137, 50542,
       43928, 82311, 16064, 36272, 77915, 77400, 21010, 73078, 66307,
       31096, 11597, 88662, 51825, 17591, 34027, 19277, 80554, 11490,
       97615, 90090, 21142, 11459, 29116, 48143, 84289, 91095, 19627,
       19794, 42818, 27229, 32911, 82983, 43256, 77531, 83001, 70070,
       44475, 89358, 38129, 47609, 39212, 38009, 58937, 39472, 37235,
       30125, 88751, 54521, 99564, 32630, 21713, 14894, 11960, 89647,
       97987, 46115, 63027, 65729, 61655, 59336, 42659, 18317, 85994,
       93674, 86765, 21995, 99909, 32204, 77564, 33030, 67074, 67298,
       40588, 16451, 94887, 88890, 79061, 68745, 35273, 56252, 16356,
       50878])

**Task 116:** Generate 50 equally spaced price points between Â£0 and Â£500.

In [198]:
price_point=np.linspace(0,500,50)
price_point

array([  0.        ,  10.20408163,  20.40816327,  30.6122449 ,
        40.81632653,  51.02040816,  61.2244898 ,  71.42857143,
        81.63265306,  91.83673469, 102.04081633, 112.24489796,
       122.44897959, 132.65306122, 142.85714286, 153.06122449,
       163.26530612, 173.46938776, 183.67346939, 193.87755102,
       204.08163265, 214.28571429, 224.48979592, 234.69387755,
       244.89795918, 255.10204082, 265.30612245, 275.51020408,
       285.71428571, 295.91836735, 306.12244898, 316.32653061,
       326.53061224, 336.73469388, 346.93877551, 357.14285714,
       367.34693878, 377.55102041, 387.75510204, 397.95918367,
       408.16326531, 418.36734694, 428.57142857, 438.7755102 ,
       448.97959184, 459.18367347, 469.3877551 , 479.59183673,
       489.79591837, 500.        ])

**Task 117:** Create a matrix representing 12 months and 7 product categories filled with zeros.

In [202]:
matrix=np.zeros((12,7),dtype=int)
matrix

array([[0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0]])

**Task 118:** Extract quantities greater than 100 from the Quantity array.

In [210]:
np.where(quantity > 100)

(array([    96,    176,    177, ..., 392338, 392488, 392497]),)

**Task 119:** Calculate the square root of all UnitPrice values.

In [211]:
np.sqrt(unitprice)

array([1.59687194, 1.84119526, 1.6583124 , ..., 2.03715488, 2.03715488,
       2.22485955])

**Task 120:** Find the 25th, 50th, and 75th percentiles of TotalPrice.

In [212]:
percentiles = df['Total Price'].quantile([0.25, 0.50, 0.75])
percentiles

0.25     4.95
0.50    12.45
0.75    19.80
Name: Total Price, dtype: float64

**Task 121:** Round all UnitPrice values to the nearest integer.

In [217]:
np.round(df['UnitPrice'])

0         3.0
1         3.0
2         3.0
3         3.0
4         3.0
         ...
392687    1.0
392688    2.0
392689    4.0
392690    4.0
392691    5.0
Name: UnitPrice, Length: 392692, dtype: float64

**Task 122:** Find positions where Quantity is maximum.

In [222]:
np.where(quantity==quantity.max())[0]

array([392226])

**Task 123:** Calculate the correlation between Quantity and UnitPrice.

In [223]:
df['Quantity'].corr(df['UnitPrice'])

np.float64(-0.0045783143496490285)

**Task 124:** Normalize the TotalPrice column (subtract mean, divide by standard deviation).

In [225]:
df['TotalPrice_normalized'] = (
    df['Total Price'] - df['Total Price'].mean()
) / df['Total Price'].std()

In [226]:
df['TotalPrice_normalized']

0        -0.023566
1        -0.007366
2        -0.002030
3        -0.007366
4        -0.007366
            ...
392687   -0.039960
392688   -0.032245
392689   -0.019388
392690   -0.019388
392691   -0.025013
Name: TotalPrice_normalized, Length: 392692, dtype: float64

**Task 125:** Split the Quantity array into 4 equal parts.

In [228]:
split_arrays = np.array_split(quantity, 4)
split_arrays

[array([6, 6, 8, ..., 1, 1, 1]),
 array([24, 10,  1, ...,  2,  4,  2]),
 array([ 6,  3,  3, ..., 20,  8,  8]),
 array([12, 12, 24, ...,  4,  4,  3])]

In [230]:

df.to_csv('cleaned_sales_data.csv', index=False)

In [231]:

df.to_excel('cleaned_sales_data.xlsx', index=False)